In [44]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [43]:
#그래프에서 한글 출력 시 폰트 변경(기본폰트: sans-serif)
plt.rcParams['font.family'] = 'Malgun Gothic'
# 그래프에서 마이너스(-) 폰트 깨짐 방지
plt.rcParams['axes.unicode_minus']=False

In [40]:
sns.set(style="darkgrid")

# 데이터 불러오기 & 필요한 데이터 Filter

In [133]:
#Hdl, bmi, tg, waist, bun, 에너지 소비량 이 활동량에 영향을 주는 인자로 작용 (에너지 소비량 없음)
walk_df = pd.read_excel('./활동량.xlsx') 
print(walk_df)

      Sample_ID  COHORT      BMI_1  Waist_1  BUN_1  TG_1  HDL_1  LDL_1  \
0         S0001       2  21.110190     80.9   14.7    81     61    111
1         S0002       2  27.782064     95.4   16.2   106     60     77
2         S0003       2  24.944742     88.4   11.5   231     40    155
3         S0004       2  22.620489     75.5   14.0    94     58    145
4         S0005       2  20.524157     70.5   13.7    70     81    123
..          ...     ...        ...      ...    ...   ...    ...    ...
386  MetS_S0280       1  34.803410     75.0   11.8    51     61    120
387  MetS_S0281       1  30.903615     90.0    8.0   104     45    103
388  MetS_S0282       1  28.676533     91.0   11.8   128     53     82
389  MetS_S0283       1  24.549738     85.0   13.1   163     57    150
390  MetS_S0284       1  24.605921     76.0   10.2    90     48    133

         BMI_2  Waist_2  BUN_2   TG_2  HDL_2  LDL_2    TOTAL_STEP  night_step  \
0    20.161264     83.0   13.1   75.0   77.0  112.0   9946.756757  676.824324
1    27.673957     90.5   19.2  101.0   59.0   77.0  11143.395349  437.790698
2    24.823651     86.5   17.1  183.0   40.0  128.0  16858.619718  317.394366
3    22.392684     77.0   12.2   78.0   54.0  119.0           NaN         NaN
4    20.722731     66.5   16.5   42.0   72.0  114.0           NaN         NaN
..         ...      ...    ...    ...    ...    ...           ...         ...
386        NaN      NaN    NaN    NaN    NaN    NaN           NaN         NaN
387        NaN      NaN    NaN    NaN    NaN    NaN           NaN         NaN
388        NaN      NaN    NaN    NaN    NaN    NaN           NaN         NaN
389        NaN      NaN    NaN    NaN    NaN    NaN           NaN         NaN
390        NaN      NaN    NaN    NaN    NaN    NaN           NaN         NaN

     morning_step  daytime_step  evening_step
0     2109.797297   4328.243243   2669.216216
1     1768.813953   5110.930233   3615.813953
2     1007.591549   9263.352113   6006.845070
3             NaN           NaN           NaN
4             NaN           NaN           NaN
..            ...           ...           ...
386           NaN           NaN           NaN
387           NaN           NaN           NaN
388           NaN           NaN           NaN
389           NaN           NaN           NaN
390           NaN           NaN           NaN

[391 rows x 19 columns]

In [134]:
#보조 호르몬 요법을 받고 있는 Cohort 3 제거 Filter 적용
walk_df = walk_df[(walk_df['COHORT'] != 3)]

In [135]:
walk_df.isnull().sum()

Sample_ID         0
COHORT            0
BMI_1           222
Waist_1           6
BUN_1             0
TG_1              0
HDL_1             0
LDL_1             0
BMI_2           252
Waist_2          68
BUN_2            65
TG_2             65
HDL_2            65
LDL_2            65
TOTAL_STEP      275
night_step      275
morning_step    275
daytime_step    275
evening_step    275
dtype: int64

In [136]:
#하루 에너지 소비량 걸음 수 (Y) = 0.0(보폭) + 0.04 × (X)
#BMI 데이터 너무 적어서 제외하고 보기
walk_df.dropna(subset =['HDL_1','HDL_2','BUN_1','BUN_2','Waist_1','Waist_2','TOTAL_STEP'], inplace=True)

In [137]:
walk_df.isnull().sum()

Sample_ID        0
COHORT           0
BMI_1           33
Waist_1          0
BUN_1            0
TG_1             0
HDL_1            0
LDL_1            0
BMI_2           33
Waist_2          0
BUN_2            0
TG_2             0
HDL_2            0
LDL_2            0
TOTAL_STEP       0
night_step       0
morning_step     0
daytime_step     0
evening_step     0
dtype: int64

In [138]:
walk_df

,Sample_ID,COHORT,BMI_1,Waist_1,BUN_1,TG_1,HDL_1,LDL_1,BMI_2,Waist_2,BUN_2,TG_2,HDL_2,LDL_2,TOTAL_STEP,night_step,morning_step,daytime_step,evening_step
0,S0001,2,21.110190,80.9,14.7,81,61,111,20.161264,83.0,13.1,75.0,77.0,112.0,9946.756757,676.824324,2109.797297,4328.243243,2669.216216
1,S0002,2,27.782064,95.4,16.2,106,60,77,27.673957,90.5,19.2,101.0,59.0,77.0,11143.395349,437.790698,1768.813953,5110.930233,3615.813953
2,S0003,2,24.944742,88.4,11.5,231,40,155,24.823651,86.5,17.1,183.0,40.0,128.0,16858.619718,317.394366,1007.591549,9263.352113,6006.845070
7,S0008,2,27.912827,94.2,13.1,201,59,122,28.049437,90.5,12.2,121.0,51.0,69.0,12634.536585,195.048780,1650.195122,6915.048780,3658.902439
8,S0009,2,23.306292,74.0,11.5,228,61,109,23.113021,78.0,12.7,101.0,62.0,121.0,9592.702703,372.594595,728.567568,5193.472973,3141.959459
10,S0011,2,22.083832,74.0,15.5,45,64,126,22.252705,79.5,13.5,73.0,55.0,109.0,8632.146341,68.634146,668.902439,5000.170732,2767.902439
13,S0014,2,22.580409,76.0,15.3,57,66,131,22.923124,77.0,12.0,48.0,61.0,112.0,16571.326531,65.530612,3367.918367,10545.959184,2321.102041
15,S0016,2,27.392138,83.0,16.9,92,45,87,28.725501,92.0,17.0,147.0,54.0,100.0,8969.968750,226.343750,656.843750,5450.453125,2474.656250
18,S0019,2,21.186899,74.0,12.3,111,57,121,20.911719,80.0,12.5,108.0,61.0,114.0,13327.934426,41.245902,778.180328,8192.049180,4118.000000
19,S0020,2,27.052736,93.0,15.9,169,48,107,26.434649,89.5,19.9,168.0,46.0,96.0,8252.876923,31.492308,900.400000,4924.969231,2253.984615
20,S0021,2,27.475629,94.0,12.7,155,44,96,27.562269,93.8,19.0,117.0,43.0,89.0,17028.529412,104.397059,1900.485294,10210.352941,4522.073529
21,S0022,2,24.736105,84.0,14.0,157,42,137,24.671053,80.0,20.3,145.0,44.0,136.0,15755.641026,442.923077,2561.769231,7516.615385,4991.923077
117,MetS_S0002,1,NaN,90.0,15.5,93,57,89,NaN,88.5,17.5,56.0,53.0,106.0,9495.465116,239.465116,1354.767442,4472.581395,3273.372093
118,MetS_S0004,1,NaN,85.5,12.5,111,68,160,NaN,85.0,14.4,127.0,64.0,121.0,10553.424242,315.121212,1311.151515,7220.818182,1510.272727
119,MetS_S0005,1,NaN,79.0,16.6,79,61,151,NaN,81.5,15.9,100.0,69.0,161.0,10603.973684,880.289474,788.973684,5872.210526,2857.605263
125,MetS_S0012,1,NaN,67.0,12.4,48,69,92,NaN,70.0,10.4,69.0,60.0,92.0,11659.083333,32.805556,2287.694444,7049.583333,2096.027778
129,MetS_S0016,1,NaN,66.0,10.9,38,58,96,NaN,68.0,13.3,44.0,62.0,84.0,11132.212121,220.424242,1759.454545,4645.969697,4306.484848
132,MetS_S0019,1,NaN,79.5,12.3,80,60,80,NaN,84.6,10.6,127.0,63.0,97.0,10738.764706,180.352941,1451.058824,4666.058824,4274.500000
133,MetS_S0020,1,NaN,93.4,12.2,234,64,116,NaN,91.0,11.6,124.0,67.0,105.0,10328.673469,111.000000,1681.775510,4647.428571,3725.265306
134,MetS_S0021,1,NaN,87.5,8.5,138,51,96,NaN,85.5,10.2,75.0,54.0,113.0,10236.181818,160.030303,1394.242424,4556.333333,3955.696970
139,MetS_S0026,1,NaN,84.5,13.8,74,55,98,NaN,78.0,18.0,43.0,55.0,96.0,13650.800000,160.940000,1020.560000,7284.780000,4959.440000
141,MetS_S0028,1,NaN,87.0,18.4,45,63,110,NaN,84.0,19.3,41.0,60.0,98.0,13579.180000,477.780000,1406.180000,8303.460000,3161.360000
145,MetS_S0032,1,NaN,90.5,14.0,152,58,86,NaN,87.0,9.5,147.0,55.0,79.0,16079.918919,1158.270270,2703.837838,5837.702703,6096.675676
147,MetS_S0034,1,NaN,68.0,13.2,63,80,83,NaN,73.5,10.6,51.0,76.0,109.0,14862.381818,115.945455,1265.127273,8421.945455,4822.054545
150,MetS_S0037,1,NaN,67.3,15.3,56,83,104,NaN,67.5,13.0,68.0,78.0,101.0,12328.700000,372.933333,1755.166667,5548.066667,4418.033333
154,MetS_S0041,1,NaN,79.5,14.3,59,49,100,NaN,75.5,13.1,65.0,50.0,104.0,13353.916667,386.833333,2156.583333,5465.611111,5125.416667
160,MetS_S0048,1,NaN,72.5,13.2,62,48,94,NaN,76.7,10.7,52.0,52.0,106.0,8618.333333,217.800000,2404.200000,3601.355556,2280.800000
162,MetS_S0050,1,NaN,72.5,12.9,74,77,111,NaN,72.0,12.7,70.0,79.0,101.0,8542.371429,442.028571,709.400000,4530.771429,2693.371429
163,MetS_S0051,1,NaN,76.5,16.8,56,86,111,NaN,75.0,19.6,57.0,76.0,110.0,17693.347826,178.804348,3502.978261,10450.391304,3258.804348
165,MetS_S0053,1,NaN,74.0,8.9,82,72,102,NaN,69.0,9.3,49.0,81.0,87.0,12450.388889,71.333333,3240.277778,7504.138889,1385.055556
170,MetS_S0058,1,NaN,72.0,15.1,67,86,112,NaN,68.5,14.4,53.0,82.0,97.0,8771.711111,640.688889,676.044444,4089.933333,3214.511111
173,MetS_S0061,1,NaN,63.5,11.0,87,60,114,NaN,62.5,10.5,57.0,58.0,96.0,9294.724138,353.758621,77.793103,2574.862069,6132.827586
176,MetS_S0064,1,NaN,93.5,12.9,172,60,133,NaN,93.0,14.0,116.0,56.0,141.0,11828.720930,423.186047,1677.395349,4798.511628,4772.441860
178,MetS_S0066,1,NaN,65.0,16.7,61,68,96,NaN,64.5,11.7,72.0,66.0,104.0,15256.540984,86.065574,2357.098361,6530.901639,6027.967213
186,MetS_S0074,1,NaN,95.0,8.5,66,67,121,NaN,94.0,10.9,56.0,64.0,115.0,10615.711538,86.980769,2162.269231,4196.596154,3971.557692
189,MetS_S0077,1,NaN,94.5,11.0,599,42,130,NaN,95.0,10.0,432.0,39.0,124.0,11311.285714,445.408163,1641.857143,5350.387755,3689.612245
191,MetS_S0079,1,NaN,83.5,11.4,78,52,102,NaN,78.0,10.1,88.0,57.0,108.0,7552.095238,63.785714,1133.119048,3899.261905,2359.976190
196,MetS_S0084,1,NaN,80.0,16.3,45,91,122,NaN,81.0,12.3,73.0,83.0,133.0,13616.195122,252.780488,1693.853659,9903.829268,1514.878049
199,MetS_S0087,1,NaN,71.7,14.2,51,80,109,NaN,69.0,12.0,51.0,80.0,95.0,15533.872340,182.978723,1428.382979,9321.148936,4329.212766
200,MetS_S0088,1,NaN,76.5,15.8,67,60,112,NaN,75.0,14.0,56.0,62.0,107.0,8891.288136,227.847458,715.542373,5026.203390,2777.728814
204,MetS_S0092,1,NaN,84.5,10.5,46,63,89,NaN,86.0,10.6,77.0,58.0,99.0,7647.918367,179.408163,885.163265,4898.040816,1564.979592
206,MetS_S0094,1,NaN,70.5,13.6,62,75,133,NaN,70.5,15.0,53.0,69.0,137.0,10073.949153,101.305085,430.627119,6168.389831,3218.440678
207,MetS_S0095,1,NaN,69.0,13.2,66,75,105,NaN,72.0,12.0,87.0,75.0,109.0,11418.725000,67.850000,1198.325000,5628.150000,4354.200000
210,MetS_S0098,1,NaN,82.5,11.4,124,46,100,NaN,78.0,10.8,113.0,51.0,107.0,5459.444444,124.539683,528.873016,3489.380952,1223.523810
212,MetS_S0100,1,NaN,80.5,15.1,88,58,114,NaN,79.0,16.1,64.0,61.0,106.0,12381.666667,109.311111,1648.111111,7157.422222,3257.177778

# 운동 활동량에 따른 혈중 지질 농도(HDL, LDL, TC, TG, Waist)

In [139]:
#8주간 하루 걸음을 실시한 집단의 혈중 지질 차이 pd 생성
walk_pd = {
    'Sample_ID' : [],
    'HDL' : [],
    'TG' : [],
    'LDL' : [],
    'Bun' : [],
    'Waist' : [],
    'STEP' : []
}

walk_pd = pd.DataFrame(walk_pd)

In [140]:
walk_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 0 to 212
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sample_ID     45 non-null     object
 1   COHORT        45 non-null     int64
 2   BMI_1         12 non-null     float64
 3   Waist_1       45 non-null     float64
 4   BUN_1         45 non-null     float64
 5   TG_1          45 non-null     int64
 6   HDL_1         45 non-null     int64
 7   LDL_1         45 non-null     int64
 8   BMI_2         12 non-null     float64
 9   Waist_2       45 non-null     float64
 10  BUN_2         45 non-null     float64
 11  TG_2          45 non-null     float64
 12  HDL_2         45 non-null     float64
 13  LDL_2         45 non-null     float64
 14  TOTAL_STEP    45 non-null     float64
 15  night_step    45 non-null     float64
 16  morning_step  45 non-null     float64
 17  daytime_step  45 non-null     float64
 18  evening_step  45 non-null     float64
dtypes: float64(14), int64(4), object(1)
memory usage: 7.0+ KB

In [141]:
#walk_pd 생성
for index, row in walk_df.iterrows():

    HDL=int(row[12])-int(row[6])
    TG=int(row[11])-int(row[5])
    LDL=int(row[13])-int(row[7])
    Bun=int(row[10])-int(row[4])
    Waist=int(row[9])-int(row[3])
    step=int(row[14])
    
    #데이터 추가
    walk_pd.loc[len(walk_pd)] = [row[0],HDL,TG,LDL,Bun,Waist,step]
    
walk_pd

     Sample_ID   HDL     TG   LDL  Bun  Waist     STEP
0        S0001  16.0   -6.0   1.0 -1.0    3.0   9946.0
1        S0002  -1.0   -5.0   0.0  3.0   -5.0  11143.0
2        S0003   0.0  -48.0 -27.0  6.0   -2.0  16858.0
3        S0008  -8.0  -80.0 -53.0 -1.0   -4.0  12634.0
4        S0009   1.0 -127.0  12.0  1.0    4.0   9592.0
5        S0011  -9.0   28.0 -17.0 -2.0    5.0   8632.0
6        S0014  -5.0   -9.0 -19.0 -3.0    1.0  16571.0
7        S0016   9.0   55.0  13.0  1.0    9.0   8969.0
8        S0019   4.0   -3.0  -7.0  0.0    6.0  13327.0
9        S0020  -2.0   -1.0 -11.0  4.0   -4.0   8252.0
10       S0021  -1.0  -38.0  -7.0  7.0   -1.0  17028.0
11       S0022   2.0  -12.0  -1.0  6.0   -4.0  15755.0
12  MetS_S0002  -4.0  -37.0  17.0  2.0   -2.0   9495.0
13  MetS_S0004  -4.0   16.0 -39.0  2.0    0.0  10553.0
14  MetS_S0005   8.0   21.0  10.0 -1.0    2.0  10603.0
15  MetS_S0012  -9.0   21.0   0.0 -2.0    3.0  11659.0
16  MetS_S0016   4.0    6.0 -12.0  3.0    2.0  11132.0
17  MetS_S0019   3.0   47.0  17.0 -2.0    5.0  10738.0
18  MetS_S0020   3.0 -110.0 -11.0 -1.0   -2.0  10328.0
19  MetS_S0021   3.0  -63.0  17.0  2.0   -2.0  10236.0
20  MetS_S0026   0.0  -31.0  -2.0  5.0   -6.0  13650.0
21  MetS_S0028  -3.0   -4.0 -12.0  1.0   -3.0  13579.0
22  MetS_S0032  -3.0   -5.0  -7.0 -5.0   -3.0  16079.0
23  MetS_S0034  -4.0  -12.0  26.0 -3.0    5.0  14862.0
24  MetS_S0037  -5.0   12.0  -3.0 -2.0    0.0  12328.0
25  MetS_S0041   1.0    6.0   4.0 -1.0   -4.0  13353.0
26  MetS_S0048   4.0  -10.0  12.0 -3.0    4.0   8618.0
27  MetS_S0050   2.0   -4.0 -10.0  0.0    0.0   8542.0
28  MetS_S0051 -10.0    1.0  -1.0  3.0   -1.0  17693.0
29  MetS_S0053   9.0  -33.0 -15.0  1.0   -5.0  12450.0
30  MetS_S0058  -4.0  -14.0 -15.0 -1.0   -4.0   8771.0
31  MetS_S0061  -2.0  -30.0 -18.0 -1.0   -1.0   9294.0
32  MetS_S0064  -4.0  -56.0   8.0  2.0    0.0  11828.0
33  MetS_S0066  -2.0   11.0   8.0 -5.0   -1.0  15256.0
34  MetS_S0074  -3.0  -10.0  -6.0  2.0   -1.0  10615.0
35  MetS_S0077  -3.0 -167.0  -6.0 -1.0    1.0  11311.0
36  MetS_S0079   5.0   10.0   6.0 -1.0   -5.0   7552.0
37  MetS_S0084  -8.0   28.0  11.0 -4.0    1.0  13616.0
38  MetS_S0087   0.0    0.0 -14.0 -2.0   -2.0  15533.0
39  MetS_S0088   2.0  -11.0  -5.0 -1.0   -1.0   8891.0
40  MetS_S0092  -5.0   31.0  10.0  0.0    2.0   7647.0
41  MetS_S0094  -6.0   -9.0   4.0  2.0    0.0  10073.0
42  MetS_S0095   0.0   21.0   4.0 -1.0    3.0  11418.0
43  MetS_S0098   5.0  -11.0   7.0 -1.0   -4.0   5459.0
44  MetS_S0100   3.0  -24.0  -8.0  1.0   -1.0  12381.0

In [142]:
#walk_pd의 혈중 지질 농도 평균 변화
walk_pd_tg_mean = walk_pd['TG'].mean()
walk_pd_ldl_mean = walk_pd['LDL'].mean()
walk_pd_hdl_mean = walk_pd['HDL'].mean()
walk_pd_bun_mean = walk_pd['Bun'].mean()
walk_pd_waist_mean = walk_pd['Waist'].mean()


print(f'8주 후 TG 평균 감소: {walk_pd_tg_mean}')
print(f'8주 후 LDL 평균 감소: {walk_pd_ldl_mean}')
print(f'8주 후 HDL 평균 감소: {walk_pd_hdl_mean}')
print(f'8주 후 BUN 평균 감소: {walk_pd_bun_mean}')
print(f'8주 후 Waist 평균 감소: {walk_pd_waist_mean}')

8주 후 TG 평균 감소: -14.577777777777778
8주 후 LDL 평균 감소: -3.088888888888889
8주 후 HDL 평균 감소: -0.4666666666666667
8주 후 BUN 평균 감소: 0.2
8주 후 Waist 평균 감소: -0.26666666666666666

# 논문 내용 % 감소 비율 실제 확인

In [143]:
#1차 방문 (8주간 운동 전 평균)
walk_df_tg_1mean = walk_df['TG_1'].mean()
walk_df_ldl_1mean = walk_df['LDL_1'].mean()
walk_df_hdl_1mean = walk_df['HDL_1'].mean()
walk_df_bun_1mean = walk_df['BUN_1'].mean()
walk_df_waist_1mean = walk_df['Waist_1'].mean()

print(f'8주 전 TG 평균: {walk_df_tg_1mean}')
print(f'8주 전 LDL 평균: {walk_df_ldl_1mean}')
print(f'8주 전 HDL 평균: {walk_df_hdl_1mean}')
print(f'8주 전 BUN 평균: {walk_df_bun_1mean}')
print(f'8주 전 Waist 평균: {walk_df_waist_1mean}')

8주 전 TG 평균: 107.91111111111111
8주 전 LDL 평균: 110.0
8주 전 HDL 평균: 61.977777777777774
8주 전 BUN 평균: 13.511111111111111
8주 전 Waist 평균: 80.29555555555557

In [144]:
#2차 방문 (8주간 운동 후 평균)
walk_df_tg_2mean = walk_df['TG_2'].mean()
walk_df_ldl_2mean = walk_df['LDL_2'].mean()
walk_df_hdl_2mean = walk_df['HDL_2'].mean()
walk_df_bun_2mean = walk_df['BUN_2'].mean()
walk_df_waist_2mean = walk_df['Waist_2'].mean()

print(f'8주  후 TG 평균: {walk_df_tg_2mean}')
print(f'8주 후 LDL 평균: {walk_df_ldl_2mean}')
print(f'8주 후 HDL 평균: {walk_df_hdl_2mean}')
print(f'8주 후 BUN 평균: {walk_df_bun_2mean}')
print(f'8주 후 Waist 평균: {walk_df_waist_2mean}')

8주  후 TG 평균: 93.33333333333333
8주 후 LDL 평균: 106.91111111111111
8주 후 HDL 평균: 61.51111111111111
8주 후 BUN 평균: 13.613333333333337
8주 후 Waist 평균: 79.96888888888887

In [145]:
# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|

walk_tg = (abs(walk_df_tg_2mean-walk_df_tg_1mean)/walk_df_tg_1mean) * 100
walk_ldl = (abs(walk_df_ldl_2mean-walk_df_ldl_1mean)/walk_df_ldl_1mean) * 100
walk_hdl = (abs(walk_df_hdl_2mean-walk_df_hdl_1mean)/walk_df_hdl_1mean) * 100
walk_bun = (abs(walk_df_bun_2mean-walk_df_bun_1mean)/walk_df_bun_1mean) * 100
walk_waist = (abs(walk_df_waist_2mean-walk_df_waist_1mean)/walk_df_waist_1mean) * 100

print(f'8주간 TG 평균 감소 비율: {walk_tg}')
print(f'8주간 LDL 평균 감소 비율: {walk_ldl}')
print(f'8주간 HDL 평균 감소 비율: {walk_hdl}')
print(f'8주간 BUN 평균 감소 비율: {walk_bun}')
print(f'8주간 Waist 평균 감소 비율: {walk_waist}')

8주간 TG 평균 감소 비율: 13.509060955518951
8주간 LDL 평균 감소 비율: 2.808080808080808
8주간 HDL 평균 감소 비율: 0.752958049480092
8주간 BUN 평균 감소 비율: 0.7565789473684472
8주간 Waist 평균 감소 비율: 0.4068303213129642

# 걸음수 영역 나눠서 평균값 보기

In [146]:
walk_df.describe()

,COHORT,BMI_1,Waist_1,BUN_1,TG_1,HDL_1,LDL_1,BMI_2,Waist_2,BUN_2,TG_2,HDL_2,LDL_2,TOTAL_STEP,night_step,morning_step,daytime_step,evening_step
count,45.000000,12.000000,45.000000,45.000000,45.000000,45.000000,45.000000,12.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
mean,1.266667,24.796989,80.295556,13.511111,107.911111,61.977778,110.000000,24.775196,79.968889,13.613333,93.333333,61.511111,106.911111,11650.564462,267.739369,1523.274436,6128.085422,3536.703356
std,0.447214,2.675900,9.424918,2.335810,91.887486,12.641003,19.254279,2.923788,8.724569,3.206003,63.133337,11.582946,17.474426,2914.643472,231.448667,792.789856,2023.504847,1310.615224
min,1.000000,21.110190,63.500000,8.500000,38.000000,40.000000,77.000000,20.161264,62.500000,9.300000,41.000000,39.000000,69.000000,5459.444444,31.492308,77.793103,2574.862069,1223.523810
25%,1.000000,22.456264,72.500000,12.200000,61.000000,55.000000,96.000000,22.755519,73.500000,10.800000,56.000000,54.000000,97.000000,9495.465116,104.397059,885.163265,4647.428571,2669.216216
50%,1.000000,24.840423,80.000000,13.200000,79.000000,60.000000,109.000000,24.747352,79.500000,12.700000,73.000000,61.000000,106.000000,11143.395349,195.048780,1428.382979,5465.611111,3273.372093
75%,2.000000,27.413011,87.500000,15.300000,124.000000,68.000000,121.000000,27.590191,86.500000,15.900000,116.000000,69.000000,113.000000,13579.180000,372.933333,1900.485294,7284.780000,4354.200000
max,2.000000,27.912827,95.400000,18.400000,599.000000,91.000000,160.000000,28.725501,95.000000,20.300000,432.000000,83.000000,161.000000,17693.347826,1158.270270,3502.978261,10545.959184,6132.827586

In [147]:
bins = list(range(5000, 18000, 2000))
bins_label = [str(x)+"이상 "+str(x+2000)+"미만" for x in bins]

walk_df["Step_level"] = pd.cut(walk_df["TOTAL_STEP"], bins, right=False, labels=bins_label[:-1])
walk_df

,Sample_ID,COHORT,BMI_1,Waist_1,BUN_1,TG_1,HDL_1,LDL_1,BMI_2,Waist_2,BUN_2,TG_2,HDL_2,LDL_2,TOTAL_STEP,night_step,morning_step,daytime_step,evening_step,Step_level
0,S0001,2,21.110190,80.9,14.7,81,61,111,20.161264,83.0,13.1,75.0,77.0,112.0,9946.756757,676.824324,2109.797297,4328.243243,2669.216216,9000이상 11000미만
1,S0002,2,27.782064,95.4,16.2,106,60,77,27.673957,90.5,19.2,101.0,59.0,77.0,11143.395349,437.790698,1768.813953,5110.930233,3615.813953,11000이상 13000미만
2,S0003,2,24.944742,88.4,11.5,231,40,155,24.823651,86.5,17.1,183.0,40.0,128.0,16858.619718,317.394366,1007.591549,9263.352113,6006.845070,15000이상 17000미만
7,S0008,2,27.912827,94.2,13.1,201,59,122,28.049437,90.5,12.2,121.0,51.0,69.0,12634.536585,195.048780,1650.195122,6915.048780,3658.902439,11000이상 13000미만
8,S0009,2,23.306292,74.0,11.5,228,61,109,23.113021,78.0,12.7,101.0,62.0,121.0,9592.702703,372.594595,728.567568,5193.472973,3141.959459,9000이상 11000미만
10,S0011,2,22.083832,74.0,15.5,45,64,126,22.252705,79.5,13.5,73.0,55.0,109.0,8632.146341,68.634146,668.902439,5000.170732,2767.902439,7000이상 9000미만
13,S0014,2,22.580409,76.0,15.3,57,66,131,22.923124,77.0,12.0,48.0,61.0,112.0,16571.326531,65.530612,3367.918367,10545.959184,2321.102041,15000이상 17000미만
15,S0016,2,27.392138,83.0,16.9,92,45,87,28.725501,92.0,17.0,147.0,54.0,100.0,8969.968750,226.343750,656.843750,5450.453125,2474.656250,7000이상 9000미만
18,S0019,2,21.186899,74.0,12.3,111,57,121,20.911719,80.0,12.5,108.0,61.0,114.0,13327.934426,41.245902,778.180328,8192.049180,4118.000000,13000이상 15000미만
19,S0020,2,27.052736,93.0,15.9,169,48,107,26.434649,89.5,19.9,168.0,46.0,96.0,8252.876923,31.492308,900.400000,4924.969231,2253.984615,7000이상 9000미만
20,S0021,2,27.475629,94.0,12.7,155,44,96,27.562269,93.8,19.0,117.0,43.0,89.0,17028.529412,104.397059,1900.485294,10210.352941,4522.073529,NaN
21,S0022,2,24.736105,84.0,14.0,157,42,137,24.671053,80.0,20.3,145.0,44.0,136.0,15755.641026,442.923077,2561.769231,7516.615385,4991.923077,15000이상 17000미만
117,MetS_S0002,1,NaN,90.0,15.5,93,57,89,NaN,88.5,17.5,56.0,53.0,106.0,9495.465116,239.465116,1354.767442,4472.581395,3273.372093,9000이상 11000미만
118,MetS_S0004,1,NaN,85.5,12.5,111,68,160,NaN,85.0,14.4,127.0,64.0,121.0,10553.424242,315.121212,1311.151515,7220.818182,1510.272727,9000이상 11000미만
119,MetS_S0005,1,NaN,79.0,16.6,79,61,151,NaN,81.5,15.9,100.0,69.0,161.0,10603.973684,880.289474,788.973684,5872.210526,2857.605263,9000이상 11000미만
125,MetS_S0012,1,NaN,67.0,12.4,48,69,92,NaN,70.0,10.4,69.0,60.0,92.0,11659.083333,32.805556,2287.694444,7049.583333,2096.027778,11000이상 13000미만
129,MetS_S0016,1,NaN,66.0,10.9,38,58,96,NaN,68.0,13.3,44.0,62.0,84.0,11132.212121,220.424242,1759.454545,4645.969697,4306.484848,11000이상 13000미만
132,MetS_S0019,1,NaN,79.5,12.3,80,60,80,NaN,84.6,10.6,127.0,63.0,97.0,10738.764706,180.352941,1451.058824,4666.058824,4274.500000,9000이상 11000미만
133,MetS_S0020,1,NaN,93.4,12.2,234,64,116,NaN,91.0,11.6,124.0,67.0,105.0,10328.673469,111.000000,1681.775510,4647.428571,3725.265306,9000이상 11000미만
134,MetS_S0021,1,NaN,87.5,8.5,138,51,96,NaN,85.5,10.2,75.0,54.0,113.0,10236.181818,160.030303,1394.242424,4556.333333,3955.696970,9000이상 11000미만
139,MetS_S0026,1,NaN,84.5,13.8,74,55,98,NaN,78.0,18.0,43.0,55.0,96.0,13650.800000,160.940000,1020.560000,7284.780000,4959.440000,13000이상 15000미만
141,MetS_S0028,1,NaN,87.0,18.4,45,63,110,NaN,84.0,19.3,41.0,60.0,98.0,13579.180000,477.780000,1406.180000,8303.460000,3161.360000,13000이상 15000미만
145,MetS_S0032,1,NaN,90.5,14.0,152,58,86,NaN,87.0,9.5,147.0,55.0,79.0,16079.918919,1158.270270,2703.837838,5837.702703,6096.675676,15000이상 17000미만
147,MetS_S0034,1,NaN,68.0,13.2,63,80,83,NaN,73.5,10.6,51.0,76.0,109.0,14862.381818,115.945455,1265.127273,8421.945455,4822.054545,13000이상 15000미만
150,MetS_S0037,1,NaN,67.3,15.3,56,83,104,NaN,67.5,13.0,68.0,78.0,101.0,12328.700000,372.933333,1755.166667,5548.066667,4418.033333,11000이상 13000미만
154,MetS_S0041,1,NaN,79.5,14.3,59,49,100,NaN,75.5,13.1,65.0,50.0,104.0,13353.916667,386.833333,2156.583333,5465.611111,5125.416667,13000이상 15000미만
160,MetS_S0048,1,NaN,72.5,13.2,62,48,94,NaN,76.7,10.7,52.0,52.0,106.0,8618.333333,217.800000,2404.200000,3601.355556,2280.800000,7000이상 9000미만
162,MetS_S0050,1,NaN,72.5,12.9,74,77,111,NaN,72.0,12.7,70.0,79.0,101.0,8542.371429,442.028571,709.400000,4530.771429,2693.371429,7000이상 9000미만
163,MetS_S0051,1,NaN,76.5,16.8,56,86,111,NaN,75.0,19.6,57.0,76.0,110.0,17693.347826,178.804348,3502.978261,10450.391304,3258.804348,NaN
165,MetS_S0053,1,NaN,74.0,8.9,82,72,102,NaN,69.0,9.3,49.0,81.0,87.0,12450.388889,71.333333,3240.277778,7504.138889,1385.055556,11000이상 13000미만
170,MetS_S0058,1,NaN,72.0,15.1,67,86,112,NaN,68.5,14.4,53.0,82.0,97.0,8771.711111,640.688889,676.044444,4089.933333,3214.511111,7000이상 9000미만
173,MetS_S0061,1,NaN,63.5,11.0,87,60,114,NaN,62.5,10.5,57.0,58.0,96.0,9294.724138,353.758621,77.793103,2574.862069,6132.827586,9000이상 11000미만
176,MetS_S0064,1,NaN,93.5,12.9,172,60,133,NaN,93.0,14.0,116.0,56.0,141.0,11828.720930,423.186047,1677.395349,4798.511628,4772.441860,11000이상 13000미만
178,MetS_S0066,1,NaN,65.0,16.7,61,68,96,NaN,64.5,11.7,72.0,66.0,104.0,15256.540984,86.065574,2357.098361,6530.901639,6027.967213,15000이상 17000미만
186,MetS_S0074,1,NaN,95.0,8.5,66,67,121,NaN,94.0,10.9,56.0,64.0,115.0,10615.711538,86.980769,2162.269231,4196.596154,3971.557692,9000이상 11000미만
189,MetS_S0077,1,NaN,94.5,11.0,599,42,130,NaN,95.0,10.0,432.0,39.0,124.0,11311.285714,445.408163,1641.857143,5350.387755,3689.612245,11000이상 13000미만
191,MetS_S0079,1,NaN,83.5,11.4,78,52,102,NaN,78.0,10.1,88.0,57.0,108.0,7552.095238,63.785714,1133.119048,3899.261905,2359.976190,7000이상 9000미만
196,MetS_S0084,1,NaN,80.0,16.3,45,91,122,NaN,81.0,12.3,73.0,83.0,133.0,13616.195122,252.780488,1693.853659,9903.829268,1514.878049,13000이상 15000미만
199,MetS_S0087,1,NaN,71.7,14.2,51,80,109,NaN,69.0,12.0,51.0,80.0,95.0,15533.872340,182.978723,1428.382979,9321.148936,4329.212766,15000이상 17000미만
200,MetS_S0088,1,NaN,76.5,15.8,67,60,112,NaN,75.0,14.0,56.0,62.0,107.0,8891.288136,227.847458,715.542373,5026.203390,2777.728814,7000이상 9000미만
204,MetS_S0092,1,NaN,84.5,10.5,46,63,89,NaN,86.0,10.6,77.0,58.0,99.0,7647.918367,179.408163,885.163265,4898.040816,1564.979592,7000이상 9000미만
206,MetS_S0094,1,NaN,70.5,13.6,62,75,133,NaN,70.5,15.0,53.0,69.0,137.0,10073.949153,101.305085,430.627119,6168.389831,3218.440678,9000이상 11000미만
207,MetS_S0095,1,NaN,69.0,13.2,66,75,105,NaN,72.0,12.0,87.0,75.0,109.0,11418.725000,67.850000,1198.325000,5628.150000,4354.200000,11000이상 13000미만
210,MetS_S0098,1,NaN,82.5,11.4,124,46,100,NaN,78.0,10.8,113.0,51.0,107.0,5459.444444,124.539683,528.873016,3489.380952,1223.523810,5000이상 7000미만
212,MetS_S0100,1,NaN,80.5,15.1,88,58,114,NaN,79.0,16.1,64.0,61.0,106.0,12381.666667,109.311111,1648.111111,7157.422222,3257.177778,11000이상 13000미만

In [148]:
walk_df['Step_level'].value_counts()

9000이상 11000미만     11
11000이상 13000미만    10
7000이상 9000미만       9
15000이상 17000미만     6
13000이상 15000미만     6
5000이상 7000미만       1
Name: Step_level, dtype: int64

In [149]:
#걸음 수 그룹화, 평균
step_level= pd.DataFrame(walk_df.groupby(['Step_level']).mean())

In [150]:
#추출 후 새로운 각 평균 감소값 pd 생성
step_label=list(step_level.index)

step_level_mean=pd.DataFrame(index=step_label)
step_level_mean

Empty DataFrame
Columns: []
Index: [5000이상 7000미만, 7000이상 9000미만, 9000이상 11000미만, 11000이상 13000미만, 13000이상 15000미만, 15000이상 17000미만]

In [162]:
#Waist 허리 둘레
step_level_waist=step_level_df.loc[:,['Waist_1','Waist_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_waist.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_waist['Waist_AR'] = percent
step_level_mean['Waist_AR'] = percent
step_level_waist

                   Waist_1    Waist_2  Waist_AR
Step_level
5000이상 7000미만    82.500000  78.000000     -5.45
7000이상 9000미만    79.055556  79.688889      0.80
9000이상 11000미만   81.709091  82.190909      0.59
11000이상 13000미만  80.140000  79.450000     -0.86
13000이상 15000미만  78.833333  78.666667     -0.21
15000이상 17000미만  79.266667  77.333333     -2.44

In [163]:
#HDL
step_level_HDL=step_level_df.loc[:,['HDL_1','HDL_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_HDL.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_HDL['HDL_AR'] = percent
step_level_mean['HDL_AR'] = percent
step_level_HDL

                     HDL_1      HDL_2  HDL_AR
Step_level
5000이상 7000미만    46.000000  51.000000   10.87
7000이상 9000미만    60.333333  60.555556    0.37
9000이상 11000미만   62.272727  63.636364    2.19
11000이상 13000미만  63.600000  62.200000   -2.20
13000이상 15000미만  65.833333  64.166667   -2.53
15000이상 17000미만  59.000000  57.666667   -2.26

In [164]:
#LDL
step_level_LDL=step_level_df.loc[:,['LDL_1','LDL_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_LDL.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_LDL['LDL_AR'] = percent
step_level_mean['LDL_AR'] = percent
step_level_LDL

                      LDL_1       LDL_2  LDL_AR
Step_level
5000이상 7000미만    100.000000  107.000000    7.00
7000이상 9000미만    104.444444  102.555556   -1.81
9000이상 11000미만   116.363636  116.727273    0.31
11000이상 13000미만  107.500000   99.000000   -7.91
13000이상 15000미만  105.666667  109.000000    3.15
15000이상 17000미만  119.000000  109.000000   -8.40

In [165]:
#TG
step_level_TG=step_level_df.loc[:,['TG_1','TG_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_TG.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_TG['TG_AR'] = percent
step_level_mean['TG_AR'] = percent
step_level_TG

                       TG_1        TG_2  TG_AR
Step_level
5000이상 7000미만    124.000000  113.000000  -8.87
7000이상 9000미만     77.777778   87.111111  12.00
9000이상 11000미만   114.454545   86.454545 -24.46
11000이상 13000미만  145.600000  115.100000 -20.95
13000이상 15000미만   66.166667   63.500000  -4.03
15000이상 17000미만  118.166667  107.666667  -8.89

In [166]:
#BUN
step_level_BUN=step_level_df.loc[:,['BUN_1','BUN_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_BUN.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_BUN['BUN_AR'] = percent
step_level_mean['BUN_AR'] = percent
step_level_BUN

                     BUN_1      BUN_2  BUN_AR
Step_level
5000이상 7000미만    11.400000  10.800000   -5.26
7000이상 9000미만    14.133333  13.655556   -3.38
9000이상 11000미만   12.445455  12.945455    4.02
11000이상 13000미만  12.900000  12.950000    0.39
13000이상 15000미만  14.716667  14.300000   -2.83
15000이상 17000미만  14.283333  13.766667   -3.62

In [167]:
#평균 변화 퍼센트
step_level_mean

                 Waist_AR  HDL_AR  LDL_AR  TG_AR  BUN_AR
5000이상 7000미만       -5.45   10.87    7.00  -8.87   -5.26
7000이상 9000미만        0.80    0.37   -1.81  12.00   -3.38
9000이상 11000미만       0.59    2.19    0.31 -24.46    4.02
11000이상 13000미만     -0.86   -2.20   -7.91 -20.95    0.39
13000이상 15000미만     -0.21   -2.53    3.15  -4.03   -2.83
15000이상 17000미만     -2.44   -2.26   -8.40  -8.89   -3.62

In [168]:
#평균 변화 수치
step_level_change = pd.concat([step_level_waist, step_level_HDL, step_level_LDL, step_level_TG, step_level_BUN], axis=1)
step_level_change

,Waist_1,Waist_2,Waist_AR,HDL_1,HDL_2,HDL_AR,LDL_1,LDL_2,LDL_AR,TG_1,TG_2,TG_AR,BUN_1,BUN_2,BUN_AR
Step_level,,,,,,,,,,,,,,,
5000이상 7000미만,82.500000,78.000000,-5.45,46.000000,51.000000,10.87,100.000000,107.000000,7.00,124.000000,113.000000,-8.87,11.400000,10.800000,-5.26
7000이상 9000미만,79.055556,79.688889,0.80,60.333333,60.555556,0.37,104.444444,102.555556,-1.81,77.777778,87.111111,12.00,14.133333,13.655556,-3.38
9000이상 11000미만,81.709091,82.190909,0.59,62.272727,63.636364,2.19,116.363636,116.727273,0.31,114.454545,86.454545,-24.46,12.445455,12.945455,4.02
11000이상 13000미만,80.140000,79.450000,-0.86,63.600000,62.200000,-2.20,107.500000,99.000000,-7.91,145.600000,115.100000,-20.95,12.900000,12.950000,0.39
13000이상 15000미만,78.833333,78.666667,-0.21,65.833333,64.166667,-2.53,105.666667,109.000000,3.15,66.166667,63.500000,-4.03,14.716667,14.300000,-2.83
15000이상 17000미만,79.266667,77.333333,-2.44,59.000000,57.666667,-2.26,119.000000,109.000000,-8.40,118.166667,107.666667,-8.89,14.283333,13.766667,-3.62