In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("./2KOGES안성안산분석결과/스트레스/비만 스트레스.csv")

In [3]:
df

,NIHID,AS6_BMI,AS6_PWI1,AS6_PWI2,AS6_PWI3,AS6_PWI4,AS6_PWI5,AS6_PWI6,AS6_PWI7,AS6_PWI8,...,AS6_PWI12,AS6_PWI13,AS6_PWI14,AS6_PWI15,AS6_PWI16,AS6_PWI17,AS6_PWI18,AS6_PWI19,AS6_PWI20,AS6_PWI21
0,NIH1706001797,25.6,1,2,2,1,3,3,3,1,...,1,1,1,1,3,1,3,3,1,1
1,NIH1706002482,25.1,2,3,3,1,2,3,2,1,...,0,1,1,1,3,1,2,3,1,1
2,NIH1706002552,27.0,1,3,2,2,3,3,3,1,...,1,1,1,0,2,1,3,3,1,0
3,NIH1706003471,25.7,66666,66666,66666,66666,66666,66666,66666,66666,...,66666,66666,66666,66666,66666,66666,66666,66666,66666,66666
4,NIH1706004776,30.0,2,4,2,2,1,2,2,2,...,2,2,3,1,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2331,NIH1706997429,34.3,66666,66666,66666,66666,66666,66666,66666,66666,...,66666,66666,66666,66666,66666,66666,66666,66666,66666,66666
2332,NIH1706997637,27.4,1,2,1,0,3,3,3,1,...,1,1,1,1,3,1,3,3,1,1
2333,NIH1706997697,27.8,2,3,2,2,2,2,2,2,...,2,2,1,1,1,3,3,3,2,1
2334,NIH1706998200,26.4,66666,66666,66666,66666,66666,66666,66666,66666,...,66666,66666,66666,66666,66666,66666,66666,66666,66666,66666
2335,NIH1706999047,32.6,2,3,2,1,2,2,2,1,...,1,1,1,1,2,1,2,2,1,1

In [6]:
#NULL 데이터 제거
df=df[(df['AS6_PWI1'] != 66666)]
df

,NIHID,AS6_BMI,AS6_PWI1,AS6_PWI2,AS6_PWI3,AS6_PWI4,AS6_PWI5,AS6_PWI6,AS6_PWI7,AS6_PWI8,...,AS6_PWI12,AS6_PWI13,AS6_PWI14,AS6_PWI15,AS6_PWI16,AS6_PWI17,AS6_PWI18,AS6_PWI19,AS6_PWI20,AS6_PWI21
0,NIH1706001797,25.6,1,2,2,1,3,3,3,1,...,1,1,1,1,3,1,3,3,1,1
1,NIH1706002482,25.1,2,3,3,1,2,3,2,1,...,0,1,1,1,3,1,2,3,1,1
2,NIH1706002552,27.0,1,3,2,2,3,3,3,1,...,1,1,1,0,2,1,3,3,1,0
4,NIH1706004776,30.0,2,4,2,2,1,2,2,2,...,2,2,3,1,2,2,2,2,2,1
5,NIH1706004962,28.2,2,2,2,1,2,2,2,1,...,1,2,1,1,3,1,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2329,NIH1706997194,27.4,1,3,2,2,2,3,3,2,...,2,2,1,2,3,1,2,2,2,1
2330,NIH1706997372,30.7,2,4,2,2,1,2,2,1,...,1,1,1,1,2,1,2,3,1,1
2332,NIH1706997637,27.4,1,2,1,0,3,3,3,1,...,1,1,1,1,3,1,3,3,1,1
2333,NIH1706997697,27.8,2,3,2,2,2,2,2,2,...,2,2,1,1,1,3,3,3,2,1
2335,NIH1706999047,32.6,2,3,2,1,2,2,2,1,...,1,1,1,1,2,1,2,2,1,1

In [14]:
#4, 5, 6, 10, 11, 12, 16, 17, 18, 22, 23, 24, 28, 30, 34, 35, 36, 40, 41, 42, 51, 52, 53 문항은 6-자기점수
re_score=[4, 5, 6, 10, 11, 12, 16, 17, 18, 22, 23, 24, 28, 30, 34, 35, 36, 40, 41, 42, 51, 52, 53]
for index, row in df.iterrows():

    for i in re_score:
        print(row[i+1])
        row[i+1]=6-int(i)
    
df

1
3
3
3
1
1
3
1
3

IndexError: index 23 is out of bounds for axis 0 with size 23