In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
#그래프에서 한글 출력 시 폰트 변경(기본폰트: sans-serif)
plt.rcParams['font.family'] = 'Malgun Gothic'
# 그래프에서 마이너스(-) 폰트 깨짐 방지
plt.rcParams['axes.unicode_minus']=False

In [3]:
sns.set(style="darkgrid")

# 데이터 불러오기 & 필요한 데이터 Filter

In [4]:
#Hdl, bmi, tg, waist, bun, 에너지 소비량 이 활동량에 영향을 주는 인자로 작용 (에너지 소비량 없음)
walk_df = pd.read_excel('./활동량.xlsx') 
print(walk_df)

      Sample_ID  COHORT      BMI_1  Waist_1  BUN_1  TG_1  HDL_1  LDL_1  \
0         S0001       2  21.110190     80.9   14.7    81     61    111
1         S0002       2  27.782064     95.4   16.2   106     60     77
2         S0003       2  24.944742     88.4   11.5   231     40    155
3         S0004       2  22.620489     75.5   14.0    94     58    145
4         S0005       2  20.524157     70.5   13.7    70     81    123
..          ...     ...        ...      ...    ...   ...    ...    ...
386  MetS_S0280       1  34.803410     75.0   11.8    51     61    120
387  MetS_S0281       1  30.903615     90.0    8.0   104     45    103
388  MetS_S0282       1  28.676533     91.0   11.8   128     53     82
389  MetS_S0283       1  24.549738     85.0   13.1   163     57    150
390  MetS_S0284       1  24.605921     76.0   10.2    90     48    133

         BMI_2  Waist_2  BUN_2   TG_2  HDL_2  LDL_2    TOTAL_STEP  night_step  \
0    20.161264     83.0   13.1   75.0   77.0  112.0   9946.756757  676.824324
1    27.673957     90.5   19.2  101.0   59.0   77.0  11143.395349  437.790698
2    24.823651     86.5   17.1  183.0   40.0  128.0  16858.619718  317.394366
3    22.392684     77.0   12.2   78.0   54.0  119.0           NaN         NaN
4    20.722731     66.5   16.5   42.0   72.0  114.0           NaN         NaN
..         ...      ...    ...    ...    ...    ...           ...         ...
386        NaN      NaN    NaN    NaN    NaN    NaN           NaN         NaN
387        NaN      NaN    NaN    NaN    NaN    NaN           NaN         NaN
388        NaN      NaN    NaN    NaN    NaN    NaN           NaN         NaN
389        NaN      NaN    NaN    NaN    NaN    NaN           NaN         NaN
390        NaN      NaN    NaN    NaN    NaN    NaN           NaN         NaN

     morning_step  daytime_step  evening_step
0     2109.797297   4328.243243   2669.216216
1     1768.813953   5110.930233   3615.813953
2     1007.591549   9263.352113   6006.845070
3             NaN           NaN           NaN
4             NaN           NaN           NaN
..            ...           ...           ...
386           NaN           NaN           NaN
387           NaN           NaN           NaN
388           NaN           NaN           NaN
389           NaN           NaN           NaN
390           NaN           NaN           NaN

[391 rows x 19 columns]

In [5]:
#보조 호르몬 요법을 받고 있는 Cohort 3 제거 Filter 적용
walk_df = walk_df[(walk_df['COHORT'] != 3)]

In [6]:
walk_df.isnull().sum()

Sample_ID         0
COHORT            0
BMI_1           222
Waist_1           6
BUN_1             0
TG_1              0
HDL_1             0
LDL_1             0
BMI_2           252
Waist_2          68
BUN_2            65
TG_2             65
HDL_2            65
LDL_2            65
TOTAL_STEP      275
night_step      275
morning_step    275
daytime_step    275
evening_step    275
dtype: int64

In [7]:
#하루 에너지 소비량 걸음 수 (Y) = 0.0(보폭) + 0.04 × (X)
#BMI 데이터 너무 적어서 제외하고 보기
walk_df.dropna(subset =['HDL_1','HDL_2','BUN_1','BUN_2','Waist_1','Waist_2','TOTAL_STEP','night_step','morning_step','daytime_step','evening_step'], inplace=True)

In [8]:
walk_df.isnull().sum()

Sample_ID        0
COHORT           0
BMI_1           33
Waist_1          0
BUN_1            0
TG_1             0
HDL_1            0
LDL_1            0
BMI_2           33
Waist_2          0
BUN_2            0
TG_2             0
HDL_2            0
LDL_2            0
TOTAL_STEP       0
night_step       0
morning_step     0
daytime_step     0
evening_step     0
dtype: int64

In [9]:
walk_df

,Sample_ID,COHORT,BMI_1,Waist_1,BUN_1,TG_1,HDL_1,LDL_1,BMI_2,Waist_2,BUN_2,TG_2,HDL_2,LDL_2,TOTAL_STEP,night_step,morning_step,daytime_step,evening_step
0,S0001,2,21.110190,80.9,14.7,81,61,111,20.161264,83.0,13.1,75.0,77.0,112.0,9946.756757,676.824324,2109.797297,4328.243243,2669.216216
1,S0002,2,27.782064,95.4,16.2,106,60,77,27.673957,90.5,19.2,101.0,59.0,77.0,11143.395349,437.790698,1768.813953,5110.930233,3615.813953
2,S0003,2,24.944742,88.4,11.5,231,40,155,24.823651,86.5,17.1,183.0,40.0,128.0,16858.619718,317.394366,1007.591549,9263.352113,6006.845070
7,S0008,2,27.912827,94.2,13.1,201,59,122,28.049437,90.5,12.2,121.0,51.0,69.0,12634.536585,195.048780,1650.195122,6915.048780,3658.902439
8,S0009,2,23.306292,74.0,11.5,228,61,109,23.113021,78.0,12.7,101.0,62.0,121.0,9592.702703,372.594595,728.567568,5193.472973,3141.959459
10,S0011,2,22.083832,74.0,15.5,45,64,126,22.252705,79.5,13.5,73.0,55.0,109.0,8632.146341,68.634146,668.902439,5000.170732,2767.902439
13,S0014,2,22.580409,76.0,15.3,57,66,131,22.923124,77.0,12.0,48.0,61.0,112.0,16571.326531,65.530612,3367.918367,10545.959184,2321.102041
15,S0016,2,27.392138,83.0,16.9,92,45,87,28.725501,92.0,17.0,147.0,54.0,100.0,8969.968750,226.343750,656.843750,5450.453125,2474.656250
18,S0019,2,21.186899,74.0,12.3,111,57,121,20.911719,80.0,12.5,108.0,61.0,114.0,13327.934426,41.245902,778.180328,8192.049180,4118.000000
19,S0020,2,27.052736,93.0,15.9,169,48,107,26.434649,89.5,19.9,168.0,46.0,96.0,8252.876923,31.492308,900.400000,4924.969231,2253.984615
20,S0021,2,27.475629,94.0,12.7,155,44,96,27.562269,93.8,19.0,117.0,43.0,89.0,17028.529412,104.397059,1900.485294,10210.352941,4522.073529
21,S0022,2,24.736105,84.0,14.0,157,42,137,24.671053,80.0,20.3,145.0,44.0,136.0,15755.641026,442.923077,2561.769231,7516.615385,4991.923077
117,MetS_S0002,1,NaN,90.0,15.5,93,57,89,NaN,88.5,17.5,56.0,53.0,106.0,9495.465116,239.465116,1354.767442,4472.581395,3273.372093
118,MetS_S0004,1,NaN,85.5,12.5,111,68,160,NaN,85.0,14.4,127.0,64.0,121.0,10553.424242,315.121212,1311.151515,7220.818182,1510.272727
119,MetS_S0005,1,NaN,79.0,16.6,79,61,151,NaN,81.5,15.9,100.0,69.0,161.0,10603.973684,880.289474,788.973684,5872.210526,2857.605263
125,MetS_S0012,1,NaN,67.0,12.4,48,69,92,NaN,70.0,10.4,69.0,60.0,92.0,11659.083333,32.805556,2287.694444,7049.583333,2096.027778
129,MetS_S0016,1,NaN,66.0,10.9,38,58,96,NaN,68.0,13.3,44.0,62.0,84.0,11132.212121,220.424242,1759.454545,4645.969697,4306.484848
132,MetS_S0019,1,NaN,79.5,12.3,80,60,80,NaN,84.6,10.6,127.0,63.0,97.0,10738.764706,180.352941,1451.058824,4666.058824,4274.500000
133,MetS_S0020,1,NaN,93.4,12.2,234,64,116,NaN,91.0,11.6,124.0,67.0,105.0,10328.673469,111.000000,1681.775510,4647.428571,3725.265306
134,MetS_S0021,1,NaN,87.5,8.5,138,51,96,NaN,85.5,10.2,75.0,54.0,113.0,10236.181818,160.030303,1394.242424,4556.333333,3955.696970
139,MetS_S0026,1,NaN,84.5,13.8,74,55,98,NaN,78.0,18.0,43.0,55.0,96.0,13650.800000,160.940000,1020.560000,7284.780000,4959.440000
141,MetS_S0028,1,NaN,87.0,18.4,45,63,110,NaN,84.0,19.3,41.0,60.0,98.0,13579.180000,477.780000,1406.180000,8303.460000,3161.360000
145,MetS_S0032,1,NaN,90.5,14.0,152,58,86,NaN,87.0,9.5,147.0,55.0,79.0,16079.918919,1158.270270,2703.837838,5837.702703,6096.675676
147,MetS_S0034,1,NaN,68.0,13.2,63,80,83,NaN,73.5,10.6,51.0,76.0,109.0,14862.381818,115.945455,1265.127273,8421.945455,4822.054545
150,MetS_S0037,1,NaN,67.3,15.3,56,83,104,NaN,67.5,13.0,68.0,78.0,101.0,12328.700000,372.933333,1755.166667,5548.066667,4418.033333
154,MetS_S0041,1,NaN,79.5,14.3,59,49,100,NaN,75.5,13.1,65.0,50.0,104.0,13353.916667,386.833333,2156.583333,5465.611111,5125.416667
160,MetS_S0048,1,NaN,72.5,13.2,62,48,94,NaN,76.7,10.7,52.0,52.0,106.0,8618.333333,217.800000,2404.200000,3601.355556,2280.800000
162,MetS_S0050,1,NaN,72.5,12.9,74,77,111,NaN,72.0,12.7,70.0,79.0,101.0,8542.371429,442.028571,709.400000,4530.771429,2693.371429
163,MetS_S0051,1,NaN,76.5,16.8,56,86,111,NaN,75.0,19.6,57.0,76.0,110.0,17693.347826,178.804348,3502.978261,10450.391304,3258.804348
165,MetS_S0053,1,NaN,74.0,8.9,82,72,102,NaN,69.0,9.3,49.0,81.0,87.0,12450.388889,71.333333,3240.277778,7504.138889,1385.055556
170,MetS_S0058,1,NaN,72.0,15.1,67,86,112,NaN,68.5,14.4,53.0,82.0,97.0,8771.711111,640.688889,676.044444,4089.933333,3214.511111
173,MetS_S0061,1,NaN,63.5,11.0,87,60,114,NaN,62.5,10.5,57.0,58.0,96.0,9294.724138,353.758621,77.793103,2574.862069,6132.827586
176,MetS_S0064,1,NaN,93.5,12.9,172,60,133,NaN,93.0,14.0,116.0,56.0,141.0,11828.720930,423.186047,1677.395349,4798.511628,4772.441860
178,MetS_S0066,1,NaN,65.0,16.7,61,68,96,NaN,64.5,11.7,72.0,66.0,104.0,15256.540984,86.065574,2357.098361,6530.901639,6027.967213
186,MetS_S0074,1,NaN,95.0,8.5,66,67,121,NaN,94.0,10.9,56.0,64.0,115.0,10615.711538,86.980769,2162.269231,4196.596154,3971.557692
189,MetS_S0077,1,NaN,94.5,11.0,599,42,130,NaN,95.0,10.0,432.0,39.0,124.0,11311.285714,445.408163,1641.857143,5350.387755,3689.612245
191,MetS_S0079,1,NaN,83.5,11.4,78,52,102,NaN,78.0,10.1,88.0,57.0,108.0,7552.095238,63.785714,1133.119048,3899.261905,2359.976190
196,MetS_S0084,1,NaN,80.0,16.3,45,91,122,NaN,81.0,12.3,73.0,83.0,133.0,13616.195122,252.780488,1693.853659,9903.829268,1514.878049
199,MetS_S0087,1,NaN,71.7,14.2,51,80,109,NaN,69.0,12.0,51.0,80.0,95.0,15533.872340,182.978723,1428.382979,9321.148936,4329.212766
200,MetS_S0088,1,NaN,76.5,15.8,67,60,112,NaN,75.0,14.0,56.0,62.0,107.0,8891.288136,227.847458,715.542373,5026.203390,2777.728814
204,MetS_S0092,1,NaN,84.5,10.5,46,63,89,NaN,86.0,10.6,77.0,58.0,99.0,7647.918367,179.408163,885.163265,4898.040816,1564.979592
206,MetS_S0094,1,NaN,70.5,13.6,62,75,133,NaN,70.5,15.0,53.0,69.0,137.0,10073.949153,101.305085,430.627119,6168.389831,3218.440678
207,MetS_S0095,1,NaN,69.0,13.2,66,75,105,NaN,72.0,12.0,87.0,75.0,109.0,11418.725000,67.850000,1198.325000,5628.150000,4354.200000
210,MetS_S0098,1,NaN,82.5,11.4,124,46,100,NaN,78.0,10.8,113.0,51.0,107.0,5459.444444,124.539683,528.873016,3489.380952,1223.523810
212,MetS_S0100,1,NaN,80.5,15.1,88,58,114,NaN,79.0,16.1,64.0,61.0,106.0,12381.666667,109.311111,1648.111111,7157.422222,3257.177778

# 운동 활동량(TOTAL_STEP)에 따른 혈중 지질 농도(HDL, LDL, TC, TG, Waist)

In [18]:
#8주간 하루 걸음을 실시한 집단의 혈중 지질 차이 pd 생성
walk_pd = {
    'Sample_ID' : [],
    'HDL' : [],
    'TG' : [],
    'LDL' : [],
    'Bun' : [],
    'Waist' : [],
    'TOTAL_STEP' : [],
    'MORNING_STEP' : [],
    'DAYTIME_STEP' : [],
    'EVENING_STEP' : [],
    'NIGHT_STEP' : []
}

walk_pd = pd.DataFrame(walk_pd)

In [19]:
walk_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sample_ID     0 non-null      float64
 1   HDL           0 non-null      float64
 2   TG            0 non-null      float64
 3   LDL           0 non-null      float64
 4   Bun           0 non-null      float64
 5   Waist         0 non-null      float64
 6   TOTAL_STEP    0 non-null      float64
 7   MORNING_STEP  0 non-null      float64
 8   DAYTIME_STEP  0 non-null      float64
 9   EVENING_STEP  0 non-null      float64
 10  NIGHT_STEP    0 non-null      float64
dtypes: float64(11)
memory usage: 124.0 bytes

In [20]:
#walk_total_pd 생성
for index, row in walk_df.iterrows():

    HDL=int(row[12])-int(row[6])
    TG=int(row[11])-int(row[5])
    LDL=int(row[13])-int(row[7])
    Bun=int(row[10])-int(row[4])
    Waist=int(row[9])-int(row[3])
    total_step=int(row[14])
    morning_step=int(row[16])
    daytime_step=int(row[17])
    evening_step=int(row[18])
    night_step=int(row[15])
    
    #데이터 추가
    walk_pd.loc[len(walk_pd)] = [row[0],HDL,TG,LDL,Bun,Waist,total_step,morning_step,daytime_step,evening_step,night_step]
    
walk_pd

,Sample_ID,HDL,TG,LDL,Bun,Waist,TOTAL_STEP,MORNING_STEP,DAYTIME_STEP,EVENING_STEP,NIGHT_STEP
0,S0001,16.0,-6.0,1.0,-1.0,3.0,9946.0,2109.0,4328.0,2669.0,676.0
1,S0002,-1.0,-5.0,0.0,3.0,-5.0,11143.0,1768.0,5110.0,3615.0,437.0
2,S0003,0.0,-48.0,-27.0,6.0,-2.0,16858.0,1007.0,9263.0,6006.0,317.0
3,S0008,-8.0,-80.0,-53.0,-1.0,-4.0,12634.0,1650.0,6915.0,3658.0,195.0
4,S0009,1.0,-127.0,12.0,1.0,4.0,9592.0,728.0,5193.0,3141.0,372.0
5,S0011,-9.0,28.0,-17.0,-2.0,5.0,8632.0,668.0,5000.0,2767.0,68.0
6,S0014,-5.0,-9.0,-19.0,-3.0,1.0,16571.0,3367.0,10545.0,2321.0,65.0
7,S0016,9.0,55.0,13.0,1.0,9.0,8969.0,656.0,5450.0,2474.0,226.0
8,S0019,4.0,-3.0,-7.0,0.0,6.0,13327.0,778.0,8192.0,4118.0,41.0
9,S0020,-2.0,-1.0,-11.0,4.0,-4.0,8252.0,900.0,4924.0,2253.0,31.0
10,S0021,-1.0,-38.0,-7.0,7.0,-1.0,17028.0,1900.0,10210.0,4522.0,104.0
11,S0022,2.0,-12.0,-1.0,6.0,-4.0,15755.0,2561.0,7516.0,4991.0,442.0
12,MetS_S0002,-4.0,-37.0,17.0,2.0,-2.0,9495.0,1354.0,4472.0,3273.0,239.0
13,MetS_S0004,-4.0,16.0,-39.0,2.0,0.0,10553.0,1311.0,7220.0,1510.0,315.0
14,MetS_S0005,8.0,21.0,10.0,-1.0,2.0,10603.0,788.0,5872.0,2857.0,880.0
15,MetS_S0012,-9.0,21.0,0.0,-2.0,3.0,11659.0,2287.0,7049.0,2096.0,32.0
16,MetS_S0016,4.0,6.0,-12.0,3.0,2.0,11132.0,1759.0,4645.0,4306.0,220.0
17,MetS_S0019,3.0,47.0,17.0,-2.0,5.0,10738.0,1451.0,4666.0,4274.0,180.0
18,MetS_S0020,3.0,-110.0,-11.0,-1.0,-2.0,10328.0,1681.0,4647.0,3725.0,111.0
19,MetS_S0021,3.0,-63.0,17.0,2.0,-2.0,10236.0,1394.0,4556.0,3955.0,160.0
20,MetS_S0026,0.0,-31.0,-2.0,5.0,-6.0,13650.0,1020.0,7284.0,4959.0,160.0
21,MetS_S0028,-3.0,-4.0,-12.0,1.0,-3.0,13579.0,1406.0,8303.0,3161.0,477.0
22,MetS_S0032,-3.0,-5.0,-7.0,-5.0,-3.0,16079.0,2703.0,5837.0,6096.0,1158.0
23,MetS_S0034,-4.0,-12.0,26.0,-3.0,5.0,14862.0,1265.0,8421.0,4822.0,115.0
24,MetS_S0037,-5.0,12.0,-3.0,-2.0,0.0,12328.0,1755.0,5548.0,4418.0,372.0
25,MetS_S0041,1.0,6.0,4.0,-1.0,-4.0,13353.0,2156.0,5465.0,5125.0,386.0
26,MetS_S0048,4.0,-10.0,12.0,-3.0,4.0,8618.0,2404.0,3601.0,2280.0,217.0
27,MetS_S0050,2.0,-4.0,-10.0,0.0,0.0,8542.0,709.0,4530.0,2693.0,442.0
28,MetS_S0051,-10.0,1.0,-1.0,3.0,-1.0,17693.0,3502.0,10450.0,3258.0,178.0
29,MetS_S0053,9.0,-33.0,-15.0,1.0,-5.0,12450.0,3240.0,7504.0,1385.0,71.0
30,MetS_S0058,-4.0,-14.0,-15.0,-1.0,-4.0,8771.0,676.0,4089.0,3214.0,640.0
31,MetS_S0061,-2.0,-30.0,-18.0,-1.0,-1.0,9294.0,77.0,2574.0,6132.0,353.0
32,MetS_S0064,-4.0,-56.0,8.0,2.0,0.0,11828.0,1677.0,4798.0,4772.0,423.0
33,MetS_S0066,-2.0,11.0,8.0,-5.0,-1.0,15256.0,2357.0,6530.0,6027.0,86.0
34,MetS_S0074,-3.0,-10.0,-6.0,2.0,-1.0,10615.0,2162.0,4196.0,3971.0,86.0
35,MetS_S0077,-3.0,-167.0,-6.0,-1.0,1.0,11311.0,1641.0,5350.0,3689.0,445.0
36,MetS_S0079,5.0,10.0,6.0,-1.0,-5.0,7552.0,1133.0,3899.0,2359.0,63.0
37,MetS_S0084,-8.0,28.0,11.0,-4.0,1.0,13616.0,1693.0,9903.0,1514.0,252.0
38,MetS_S0087,0.0,0.0,-14.0,-2.0,-2.0,15533.0,1428.0,9321.0,4329.0,182.0
39,MetS_S0088,2.0,-11.0,-5.0,-1.0,-1.0,8891.0,715.0,5026.0,2777.0,227.0
40,MetS_S0092,-5.0,31.0,10.0,0.0,2.0,7647.0,885.0,4898.0,1564.0,179.0
41,MetS_S0094,-6.0,-9.0,4.0,2.0,0.0,10073.0,430.0,6168.0,3218.0,101.0
42,MetS_S0095,0.0,21.0,4.0,-1.0,3.0,11418.0,1198.0,5628.0,4354.0,67.0
43,MetS_S0098,5.0,-11.0,7.0,-1.0,-4.0,5459.0,528.0,3489.0,1223.0,124.0
44,MetS_S0100,3.0,-24.0,-8.0,1.0,-1.0,12381.0,1648.0,7157.0,3257.0,109.0

In [21]:
#walk_pd의 혈중 지질 농도 평균 변화
walk_pd_tg_mean = walk_pd['TG'].mean()
walk_pd_ldl_mean = walk_pd['LDL'].mean()
walk_pd_hdl_mean = walk_pd['HDL'].mean()
walk_pd_bun_mean = walk_pd['Bun'].mean()
walk_pd_waist_mean = walk_pd['Waist'].mean()


print(f'8주 후 TG 평균 감소: {walk_pd_tg_mean}')
print(f'8주 후 LDL 평균 감소: {walk_pd_ldl_mean}')
print(f'8주 후 HDL 평균 감소: {walk_pd_hdl_mean}')
print(f'8주 후 BUN 평균 감소: {walk_pd_bun_mean}')
print(f'8주 후 Waist 평균 감소: {walk_pd_waist_mean}')

8주 후 TG 평균 감소: -14.577777777777778
8주 후 LDL 평균 감소: -3.088888888888889
8주 후 HDL 평균 감소: -0.4666666666666667
8주 후 BUN 평균 감소: 0.2
8주 후 Waist 평균 감소: -0.26666666666666666

# 논문 내용 % 감소 비율 실제 확인

In [22]:
#1차 방문 (8주간 운동 전 평균)
walk_df_tg_1mean = walk_df['TG_1'].mean()
walk_df_ldl_1mean = walk_df['LDL_1'].mean()
walk_df_hdl_1mean = walk_df['HDL_1'].mean()
walk_df_bun_1mean = walk_df['BUN_1'].mean()
walk_df_waist_1mean = walk_df['Waist_1'].mean()

print(f'8주 전 TG 평균: {walk_df_tg_1mean}')
print(f'8주 전 LDL 평균: {walk_df_ldl_1mean}')
print(f'8주 전 HDL 평균: {walk_df_hdl_1mean}')
print(f'8주 전 BUN 평균: {walk_df_bun_1mean}')
print(f'8주 전 Waist 평균: {walk_df_waist_1mean}')

8주 전 TG 평균: 107.91111111111111
8주 전 LDL 평균: 110.0
8주 전 HDL 평균: 61.977777777777774
8주 전 BUN 평균: 13.511111111111111
8주 전 Waist 평균: 80.29555555555557

In [23]:
#2차 방문 (8주간 운동 후 평균)
walk_df_tg_2mean = walk_df['TG_2'].mean()
walk_df_ldl_2mean = walk_df['LDL_2'].mean()
walk_df_hdl_2mean = walk_df['HDL_2'].mean()
walk_df_bun_2mean = walk_df['BUN_2'].mean()
walk_df_waist_2mean = walk_df['Waist_2'].mean()

print(f'8주  후 TG 평균: {walk_df_tg_2mean}')
print(f'8주 후 LDL 평균: {walk_df_ldl_2mean}')
print(f'8주 후 HDL 평균: {walk_df_hdl_2mean}')
print(f'8주 후 BUN 평균: {walk_df_bun_2mean}')
print(f'8주 후 Waist 평균: {walk_df_waist_2mean}')

8주  후 TG 평균: 93.33333333333333
8주 후 LDL 평균: 106.91111111111111
8주 후 HDL 평균: 61.51111111111111
8주 후 BUN 평균: 13.613333333333337
8주 후 Waist 평균: 79.96888888888887

In [24]:
# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|

walk_tg = (abs(walk_df_tg_2mean-walk_df_tg_1mean)/walk_df_tg_1mean) * 100
walk_ldl = (abs(walk_df_ldl_2mean-walk_df_ldl_1mean)/walk_df_ldl_1mean) * 100
walk_hdl = (abs(walk_df_hdl_2mean-walk_df_hdl_1mean)/walk_df_hdl_1mean) * 100
walk_bun = (abs(walk_df_bun_2mean-walk_df_bun_1mean)/walk_df_bun_1mean) * 100
walk_waist = (abs(walk_df_waist_2mean-walk_df_waist_1mean)/walk_df_waist_1mean) * 100

print(f'8주간 TG 평균 감소 비율: {walk_tg}')
print(f'8주간 LDL 평균 감소 비율: {walk_ldl}')
print(f'8주간 HDL 평균 감소 비율: {walk_hdl}')
print(f'8주간 BUN 평균 감소 비율: {walk_bun}')
print(f'8주간 Waist 평균 감소 비율: {walk_waist}')

8주간 TG 평균 감소 비율: 13.509060955518951
8주간 LDL 평균 감소 비율: 2.808080808080808
8주간 HDL 평균 감소 비율: 0.752958049480092
8주간 BUN 평균 감소 비율: 0.7565789473684472
8주간 Waist 평균 감소 비율: 0.4068303213129642

# 걸음수 영역 나눠서 평균값 보기

In [25]:
walk_df.describe()

,COHORT,BMI_1,Waist_1,BUN_1,TG_1,HDL_1,LDL_1,BMI_2,Waist_2,BUN_2,TG_2,HDL_2,LDL_2,TOTAL_STEP,night_step,morning_step,daytime_step,evening_step
count,45.000000,12.000000,45.000000,45.000000,45.000000,45.000000,45.000000,12.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
mean,1.266667,24.796989,80.295556,13.511111,107.911111,61.977778,110.000000,24.775196,79.968889,13.613333,93.333333,61.511111,106.911111,11650.564462,267.739369,1523.274436,6128.085422,3536.703356
std,0.447214,2.675900,9.424918,2.335810,91.887486,12.641003,19.254279,2.923788,8.724569,3.206003,63.133337,11.582946,17.474426,2914.643472,231.448667,792.789856,2023.504847,1310.615224
min,1.000000,21.110190,63.500000,8.500000,38.000000,40.000000,77.000000,20.161264,62.500000,9.300000,41.000000,39.000000,69.000000,5459.444444,31.492308,77.793103,2574.862069,1223.523810
25%,1.000000,22.456264,72.500000,12.200000,61.000000,55.000000,96.000000,22.755519,73.500000,10.800000,56.000000,54.000000,97.000000,9495.465116,104.397059,885.163265,4647.428571,2669.216216
50%,1.000000,24.840423,80.000000,13.200000,79.000000,60.000000,109.000000,24.747352,79.500000,12.700000,73.000000,61.000000,106.000000,11143.395349,195.048780,1428.382979,5465.611111,3273.372093
75%,2.000000,27.413011,87.500000,15.300000,124.000000,68.000000,121.000000,27.590191,86.500000,15.900000,116.000000,69.000000,113.000000,13579.180000,372.933333,1900.485294,7284.780000,4354.200000
max,2.000000,27.912827,95.400000,18.400000,599.000000,91.000000,160.000000,28.725501,95.000000,20.300000,432.000000,83.000000,161.000000,17693.347826,1158.270270,3502.978261,10545.959184,6132.827586

In [52]:
#total 걸음수 필드 추가
bins = list(range(5000, 21000, 5000))
bins_label = [str(x)+"이상 "+str(x+5000)+"미만" for x in bins]

walk_df["Step_level"] = pd.cut(walk_df["TOTAL_STEP"], bins, right=False, labels=bins_label[:-1])

In [86]:
#morning 걸음수 필드 추가
bins = list(range(0, 5000, 1500))
bins_label = [str(x)+"이상 "+str(x+1500)+"미만" for x in bins]

walk_df["Step_level_morning"] = pd.cut(walk_df["morning_step"], bins, right=False, labels=bins_label[:-1])

In [56]:
#daytime 걸음수 필드 추가
bins = list(range(2000, 11001, 3000))
bins_label = [str(x)+"이상 "+str(x+3000)+"미만" for x in bins]

walk_df["Step_level_daytime"] = pd.cut(walk_df["daytime_step"], bins, right=False, labels=bins_label[:-1])

In [69]:
#evening 걸음수 필드 추가
bins = list(range(1000, 7001, 2000))
bins_label = [str(x)+"이상 "+str(x+2000)+"미만" for x in bins]

walk_df["Step_level_evening"] = pd.cut(walk_df["evening_step"], bins, right=False, labels=bins_label[:-1])

In [92]:
#night 걸음수 필드 추가
bins = list(range(0, 1201, 400))
bins_label = [str(x)+"이상 "+str(x+400)+"미만" for x in bins]

walk_df["Step_level_night"] = pd.cut(walk_df["night_step"], bins, right=False, labels=bins_label[:-1])

In [93]:
walk_df

,Sample_ID,COHORT,BMI_1,Waist_1,BUN_1,TG_1,HDL_1,LDL_1,BMI_2,Waist_2,...,TOTAL_STEP,night_step,morning_step,daytime_step,evening_step,Step_level,Step_level_morning,Step_level_daytime,Step_level_evening,Step_level_night
0,S0001,2,21.110190,80.9,14.7,81,61,111,20.161264,83.0,...,9946.756757,676.824324,2109.797297,4328.243243,2669.216216,5000이상 10000미만,1500이상 3000미만,2000이상 5000미만,1000이상 3000미만,400이상 800미만
1,S0002,2,27.782064,95.4,16.2,106,60,77,27.673957,90.5,...,11143.395349,437.790698,1768.813953,5110.930233,3615.813953,10000이상 15000미만,1500이상 3000미만,5000이상 8000미만,3000이상 5000미만,400이상 800미만
2,S0003,2,24.944742,88.4,11.5,231,40,155,24.823651,86.5,...,16858.619718,317.394366,1007.591549,9263.352113,6006.845070,15000이상 20000미만,0이상 1500미만,8000이상 11000미만,5000이상 7000미만,0이상 400미만
7,S0008,2,27.912827,94.2,13.1,201,59,122,28.049437,90.5,...,12634.536585,195.048780,1650.195122,6915.048780,3658.902439,10000이상 15000미만,1500이상 3000미만,5000이상 8000미만,3000이상 5000미만,0이상 400미만
8,S0009,2,23.306292,74.0,11.5,228,61,109,23.113021,78.0,...,9592.702703,372.594595,728.567568,5193.472973,3141.959459,5000이상 10000미만,0이상 1500미만,5000이상 8000미만,3000이상 5000미만,0이상 400미만
10,S0011,2,22.083832,74.0,15.5,45,64,126,22.252705,79.5,...,8632.146341,68.634146,668.902439,5000.170732,2767.902439,5000이상 10000미만,0이상 1500미만,5000이상 8000미만,1000이상 3000미만,0이상 400미만
13,S0014,2,22.580409,76.0,15.3,57,66,131,22.923124,77.0,...,16571.326531,65.530612,3367.918367,10545.959184,2321.102041,15000이상 20000미만,3000이상 4500미만,8000이상 11000미만,1000이상 3000미만,0이상 400미만
15,S0016,2,27.392138,83.0,16.9,92,45,87,28.725501,92.0,...,8969.968750,226.343750,656.843750,5450.453125,2474.656250,5000이상 10000미만,0이상 1500미만,5000이상 8000미만,1000이상 3000미만,0이상 400미만
18,S0019,2,21.186899,74.0,12.3,111,57,121,20.911719,80.0,...,13327.934426,41.245902,778.180328,8192.049180,4118.000000,10000이상 15000미만,0이상 1500미만,8000이상 11000미만,3000이상 5000미만,0이상 400미만
19,S0020,2,27.052736,93.0,15.9,169,48,107,26.434649,89.5,...,8252.876923,31.492308,900.400000,4924.969231,2253.984615,5000이상 10000미만,0이상 1500미만,2000이상 5000미만,1000이상 3000미만,0이상 400미만
20,S0021,2,27.475629,94.0,12.7,155,44,96,27.562269,93.8,...,17028.529412,104.397059,1900.485294,10210.352941,4522.073529,15000이상 20000미만,1500이상 3000미만,8000이상 11000미만,3000이상 5000미만,0이상 400미만
21,S0022,2,24.736105,84.0,14.0,157,42,137,24.671053,80.0,...,15755.641026,442.923077,2561.769231,7516.615385,4991.923077,15000이상 20000미만,1500이상 3000미만,5000이상 8000미만,3000이상 5000미만,400이상 800미만
117,MetS_S0002,1,NaN,90.0,15.5,93,57,89,NaN,88.5,...,9495.465116,239.465116,1354.767442,4472.581395,3273.372093,5000이상 10000미만,0이상 1500미만,2000이상 5000미만,3000이상 5000미만,0이상 400미만
118,MetS_S0004,1,NaN,85.5,12.5,111,68,160,NaN,85.0,...,10553.424242,315.121212,1311.151515,7220.818182,1510.272727,10000이상 15000미만,0이상 1500미만,5000이상 8000미만,1000이상 3000미만,0이상 400미만
119,MetS_S0005,1,NaN,79.0,16.6,79,61,151,NaN,81.5,...,10603.973684,880.289474,788.973684,5872.210526,2857.605263,10000이상 15000미만,0이상 1500미만,5000이상 8000미만,1000이상 3000미만,800이상 1200미만
125,MetS_S0012,1,NaN,67.0,12.4,48,69,92,NaN,70.0,...,11659.083333,32.805556,2287.694444,7049.583333,2096.027778,10000이상 15000미만,1500이상 3000미만,5000이상 8000미만,1000이상 3000미만,0이상 400미만
129,MetS_S0016,1,NaN,66.0,10.9,38,58,96,NaN,68.0,...,11132.212121,220.424242,1759.454545,4645.969697,4306.484848,10000이상 15000미만,1500이상 3000미만,2000이상 5000미만,3000이상 5000미만,0이상 400미만
132,MetS_S0019,1,NaN,79.5,12.3,80,60,80,NaN,84.6,...,10738.764706,180.352941,1451.058824,4666.058824,4274.500000,10000이상 15000미만,0이상 1500미만,2000이상 5000미만,3000이상 5000미만,0이상 400미만
133,MetS_S0020,1,NaN,93.4,12.2,234,64,116,NaN,91.0,...,10328.673469,111.000000,1681.775510,4647.428571,3725.265306,10000이상 15000미만,1500이상 3000미만,2000이상 5000미만,3000이상 5000미만,0이상 400미만
134,MetS_S0021,1,NaN,87.5,8.5,138,51,96,NaN,85.5,...,10236.181818,160.030303,1394.242424,4556.333333,3955.696970,10000이상 15000미만,0이상 1500미만,2000이상 5000미만,3000이상 5000미만,0이상 400미만
139,MetS_S0026,1,NaN,84.5,13.8,74,55,98,NaN,78.0,...,13650.800000,160.940000,1020.560000,7284.780000,4959.440000,10000이상 15000미만,0이상 1500미만,5000이상 8000미만,3000이상 5000미만,0이상 400미만
141,MetS_S0028,1,NaN,87.0,18.4,45,63,110,NaN,84.0,...,13579.180000,477.780000,1406.180000,8303.460000,3161.360000,10000이상 15000미만,0이상 1500미만,8000이상 11000미만,3000이상 5000미만,400이상 800미만
145,MetS_S0032,1,NaN,90.5,14.0,152,58,86,NaN,87.0,...,16079.918919,1158.270270,2703.837838,5837.702703,6096.675676,15000이상 20000미만,1500이상 3000미만,5000이상 8000미만,5000이상 7000미만,800이상 1200미만
147,MetS_S0034,1,NaN,68.0,13.2,63,80,83,NaN,73.5,...,14862.381818,115.945455,1265.127273,8421.945455,4822.054545,10000이상 15000미만,0이상 1500미만,8000이상 11000미만,3000이상 5000미만,0이상 400미만
150,MetS_S0037,1,NaN,67.3,15.3,56,83,104,NaN,67.5,...,12328.700000,372.933333,1755.166667,5548.066667,4418.033333,10000이상 15000미만,1500이상 3000미만,5000이상 8000미만,3000이상 5000미만,0이상 400미만
154,MetS_S0041,1,NaN,79.5,14.3,59,49,100,NaN,75.5,...,13353.916667,386.833333,2156.583333,5465.611111,5125.416667,10000이상 15000미만,1500이상 3000미만,5000이상 8000미만,5000이상 7000미만,0이상 400미만
160,MetS_S0048,1,NaN,72.5,13.2,62,48,94,NaN,76.7,...,8618.333333,217.800000,2404.200000,3601.355556,2280.800000,5000이상 10000미만,1500이상 3000미만,2000이상 5000미만,1000이상 3000미만,0이상 400미만
162,MetS_S0050,1,NaN,72.5,12.9,74,77,111,NaN,72.0,...,8542.371429,442.028571,709.400000,4530.771429,2693.371429,5000이상 10000미만,0이상 1500미만,2000이상 5000미만,1000이상 3000미만,400이상 800미만
163,MetS_S0051,1,NaN,76.5,16.8,56,86,111,NaN,75.0,...,17693.347826,178.804348,3502.978261,10450.391304,3258.804348,15000이상 20000미만,3000이상 4500미만,8000이상 11000미만,3000이상 5000미만,0이상 400미만
165,MetS_S0053,1,NaN,74.0,8.9,82,72,102,NaN,69.0,...,12450.388889,71.333333,3240.277778,7504.138889,1385.055556,10000이상 15000미만,3000이상 4500미만,5000이상 8000미만,1000이상 3000미만,0이상 400미만
170,MetS_S0058,1,NaN,72.0,15.1,67,86,112,NaN,68.5,...,8771.711111,640.688889,676.044444,4089.933333,3214.511111,5000이상 10000미만,0이상 1500미만,2000이상 5000미만,3000이상 5000미만,400이상 800미만
173,MetS_S0061,1,NaN,63.5,11.0,87,60,114,NaN,62.5,...,9294.724138,353.758621,77.793103,2574.862069,6132.827586,5000이상 10000미만,0이상 1500미만,2000이상 5000미만,5000이상 7000미만,0이상 400미만
176,MetS_S0064,1,NaN,93.5,12.9,172,60,133,NaN,93.0,...,11828.720930,423.186047,1677.395349,4798.511628,4772.441860,10000이상 15000미만,1500이상 3000미만,2000이상 5000미만,3000이상 5000미만,400이상 800미만
178,MetS_S0066,1,NaN,65.0,16.7,61,68,96,NaN,64.5,...,15256.540984,86.065574,2357.098361,6530.901639,6027.967213,15000이상 20000미만,1500이상 3000미만,5000이상 8000미만,5000이상 7000미만,0이상 400미만
186,MetS_S0074,1,NaN,95.0,8.5,66,67,121,NaN,94.0,...,10615.711538,86.980769,2162.269231,4196.596154,3971.557692,10000이상 15000미만,1500이상 3000미만,2000이상 5000미만,3000이상 5000미만,0이상 400미만
189,MetS_S0077,1,NaN,94.5,11.0,599,42,130,NaN,95.0,...,11311.285714,445.408163,1641.857143,5350.387755,3689.612245,10000이상 15000미만,1500이상 3000미만,5000이상 8000미만,3000이상 5000미만,400이상 800미만
191,MetS_S0079,1,NaN,83.5,11.4,78,52,102,NaN,78.0,...,7552.095238,63.785714,1133.119048,3899.261905,2359.976190,5000이상 10000미만,0이상 1500미만,2000이상 5000미만,1000이상 3000미만,0이상 400미만
196,MetS_S0084,1,NaN,80.0,16.3,45,91,122,NaN,81.0,...,13616.195122,252.780488,1693.853659,9903.829268,1514.878049,10000이상 15000미만,1500이상 3000미만,8000이상 11000미만,1000이상 3000미만,0이상 400미만
199,MetS_S0087,1,NaN,71.7,14.2,51,80,109,NaN,69.0,...,15533.872340,182.978723,1428.382979,9321.148936,4329.212766,15000이상 20000미만,0이상 1500미만,8000이상 11000미만,3000이상 5000미만,0이상 400미만
200,MetS_S0088,1,NaN,76.5,15.8,67,60,112,NaN,75.0,...,8891.288136,227.847458,715.542373,5026.203390,2777.728814,5000이상 10000미만,0이상 1500미만,5000이상 8000미만,1000이상 3000미만,0이상 400미만
204,MetS_S0092,1,NaN,84.5,10.5,46,63,89,NaN,86.0,...,7647.918367,179.408163,885.163265,4898.040816,1564.979592,5000이상 10000미만,0이상 1500미만,2000이상 5000미만,1000이상 3000미만,0이상 400미만
206,MetS_S0094,1,NaN,70.5,13.6,62,75,133,NaN,70.5,...,10073.949153,101.305085,430.627119,6168.389831,3218.440678,10000이상 15000미만,0이상 1500미만,5000이상 8000미만,3000이상 5000미만,0이상 400미만
207,MetS_S0095,1,NaN,69.0,13.2,66,75,105,NaN,72.0,...,11418.725000,67.850000,1198.325000,5628.150000,4354.200000,10000이상 15000미만,0이상 1500미만,5000이상 8000미만,3000이상 5000미만,0이상 400미만
210,MetS_S0098,1,NaN,82.5,11.4,124,46,100,NaN,78.0,...,5459.444444,124.539683,528.873016,3489.380952,1223.523810,5000이상 10000미만,0이상 1500미만,2000이상 5000미만,1000이상 3000미만,0이상 400미만
212,MetS_S0100,1,NaN,80.5,15.1,88,58,114,NaN,79.0,...,12381.666667,109.311111,1648.111111,7157.422222,3257.177778,10000이상 15000미만,1500이상 3000미만,5000이상 8000미만,3000이상 5000미만,0이상 400미만

In [76]:
walk_df['Step_level'].value_counts()

10000이상 15000미만    23
5000이상 10000미만     14
15000이상 20000미만     8
Name: Step_level, dtype: int64

In [88]:
walk_df['Step_level_morning'].value_counts()

0이상 1500미만       24
1500이상 3000미만    18
3000이상 4500미만     3
Name: Step_level_morning, dtype: int64

In [89]:
walk_df['Step_level_daytime'].value_counts()

5000이상 8000미만     20
2000이상 5000미만     16
8000이상 11000미만     9
Name: Step_level_daytime, dtype: int64

In [90]:
walk_df['Step_level_evening'].value_counts()

3000이상 5000미만    24
1000이상 3000미만    16
5000이상 7000미만     5
Name: Step_level_evening, dtype: int64

In [94]:
walk_df['Step_level_night'].value_counts()

0이상 400미만       35
400이상 800미만      8
800이상 1200미만     2
Name: Step_level_night, dtype: int64

In [102]:
#걸음 수(전체) 그룹화, 평균
step_level_df= pd.DataFrame(walk_df.groupby(['Step_level']).mean())
step_level_df

,COHORT,BMI_1,Waist_1,BUN_1,TG_1,HDL_1,LDL_1,BMI_2,Waist_2,BUN_2,TG_2,HDL_2,LDL_2,TOTAL_STEP,night_step,morning_step,daytime_step,evening_step
Step_level,,,,,,,,,,,,,,,,,,
5000이상 10000미만,1.357143,24.189037,78.742857,13.664286,93.785714,59.142857,104.500000,24.137428,79.085714,13.392857,84.714286,60.428571,104.642857,8547.700199,276.086524,967.815268,4391.407153,2773.486400
10000이상 15000미만,1.130435,25.627263,81.078261,13.108696,114.043478,64.217391,111.565217,25.545038,80.808696,13.213043,95.391304,63.347826,108.391304,11905.643532,245.508532,1572.516261,6287.292158,3598.619030
15000이상 20000미만,1.500000,24.934221,80.762500,14.400000,115.000000,60.500000,115.125000,24.995024,79.100000,15.150000,102.500000,58.125000,106.625000,16347.224594,317.045504,2353.757735,8709.553026,4694.325465

In [98]:
#걸음 수(아침) 그룹화, 평균
step_level_morning_df= pd.DataFrame(walk_df.groupby(['Step_level_morning']).mean())
step_level_morning_df

,COHORT,BMI_1,Waist_1,BUN_1,TG_1,HDL_1,LDL_1,BMI_2,Waist_2,BUN_2,TG_2,HDL_2,LDL_2,TOTAL_STEP,night_step,morning_step,daytime_step,evening_step
Step_level_morning,,,,,,,,,,,,,,,,,,
0이상 1500미만,1.250000,24.327773,78.900000,13.479167,95.041667,61.833333,110.791667,24.376875,79.066667,13.804167,87.708333,61.791667,109.375000,10522.521650,248.825853,938.159048,5768.699905,3393.600892
1500이상 3000미만,1.277778,25.803363,82.955556,13.527778,132.222222,60.055556,108.166667,25.623596,82.222222,13.355556,107.833333,59.277778,104.277778,12501.100996,320.043490,1995.575449,6045.253160,3930.014870
3000이상 4500미만,1.333333,22.580409,75.500000,13.666667,65.000000,74.666667,114.666667,22.923124,73.666667,13.633333,51.333333,72.666667,103.000000,15571.687749,105.222764,3370.391469,9500.163126,2321.653981

In [99]:
#걸음 수(낮) 그룹화, 평균
step_level_daytime_df= pd.DataFrame(walk_df.groupby(['Step_level_daytime']).mean())
step_level_daytime_df

,COHORT,BMI_1,Waist_1,BUN_1,TG_1,HDL_1,LDL_1,BMI_2,Waist_2,BUN_2,TG_2,HDL_2,LDL_2,TOTAL_STEP,night_step,morning_step,daytime_step,evening_step
Step_level_daytime,,,,,,,,,,,,,,,,,,
2000이상 5000미만,1.125000,24.081463,81.862500,12.306250,100.562500,59.875000,104.437500,23.297956,81.175000,12.556250,84.4375,61.187500,105.187500,9278.872590,259.485356,1306.609594,4270.018634,3292.031832
5000이상 8000미만,1.300000,25.535543,79.395000,14.020000,121.650000,61.200000,112.050000,25.747613,79.000000,13.865000,106.0000,60.450000,107.000000,11837.102607,307.982447,1564.544921,6141.552874,3621.240567
8000이상 11000미만,1.444444,24.046920,79.511111,14.522222,90.444444,67.444444,115.333333,24.055191,79.977778,14.933333,81.0000,64.444444,109.777778,15452.376355,192.984106,1816.744190,9401.387598,3783.814483

In [103]:
#걸음 수(저녁) 그룹화, 평균
step_level_evening_df= pd.DataFrame(walk_df.groupby(['Step_level_evening']).mean())
step_level_evening_df

,COHORT,BMI_1,Waist_1,BUN_1,TG_1,HDL_1,LDL_1,BMI_2,Waist_2,BUN_2,TG_2,HDL_2,LDL_2,TOTAL_STEP,night_step,morning_step,daytime_step,evening_step
Step_level_evening,,,,,,,,,,,,,,,,,,
1000이상 3000미만,1.3125,24.043861,79.025,13.762500,78.75,61.937500,112.312500,24.099449,79.575,12.918750,86.562500,63.062500,109.437500,9872.974470,242.285300,1462.631915,5827.836860,2171.942548
3000이상 5000미만,1.2500,25.399969,81.750,13.345833,125.25,63.458333,108.416667,25.330243,81.225,14.333333,95.458333,62.083333,106.208333,12311.003701,244.557693,1535.097284,6368.584358,3958.784918
5000이상 7000미만,1.2000,24.944742,77.380,13.500000,118.00,55.000000,110.200000,24.823651,75.200,12.380000,104.800000,53.800000,102.200000,14168.744085,460.464433,1660.580837,5934.485927,5877.946442

In [104]:
#걸음 수(밤) 그룹화, 평균
step_level_night_df= pd.DataFrame(walk_df.groupby(['Step_level_night']).mean())
step_level_night_df

,COHORT,BMI_1,Waist_1,BUN_1,TG_1,HDL_1,LDL_1,BMI_2,Waist_2,BUN_2,TG_2,HDL_2,LDL_2,TOTAL_STEP,night_step,morning_step,daytime_step,evening_step
Step_level_night,,,,,,,,,,,,,,,,,,
0이상 400미만,1.257143,24.881723,78.971429,13.205714,94.971429,62.257143,108.342857,24.977342,78.974286,13.262857,83.428571,61.371429,105.285714,11620.355596,172.088059,1500.093734,6286.430793,3468.260577
400이상 800미만,1.375000,24.542786,84.975000,14.400000,162.625000,61.375000,115.125000,24.168758,83.250000,15.375000,129.125000,62.000000,110.750000,11359.882789,498.328721,1568.907177,5503.606626,3601.031236
800이상 1200미만,1.000000,NaN,84.750000,15.300000,115.500000,59.500000,118.500000,NaN,84.250000,12.700000,123.500000,62.000000,120.000000,13341.946302,1019.279872,1746.405761,5854.956615,4477.140469

# 각 평균의 감소값 pd 생성

In [105]:
#추출 후 새로운 각 평균 감소값 pd 생성
step_label=list(step_level_df.index)

step_level_mean=pd.DataFrame(index=step_label)
step_level_mean

Empty DataFrame
Columns: []
Index: [5000이상 10000미만, 10000이상 15000미만, 15000이상 20000미만]

In [106]:
#Waist 허리 둘레
step_level_waist=step_level_df.loc[:,['Waist_1','Waist_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_waist.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_waist['Waist_AR'] = percent
step_level_mean['Waist_AR'] = percent

#HDL
step_level_HDL=step_level_df.loc[:,['HDL_1','HDL_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_HDL.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_HDL['HDL_AR'] = percent
step_level_mean['HDL_AR'] = percent

#LDL
step_level_LDL=step_level_df.loc[:,['LDL_1','LDL_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_LDL.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_LDL['LDL_AR'] = percent
step_level_mean['LDL_AR'] = percent

#TG
step_level_TG=step_level_df.loc[:,['TG_1','TG_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_TG.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_TG['TG_AR'] = percent
step_level_mean['TG_AR'] = percent

#BUN
step_level_BUN=step_level_df.loc[:,['BUN_1','BUN_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_BUN.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_BUN['BUN_AR'] = percent
step_level_mean['BUN_AR'] = percent

In [108]:
#평균 변화 수치
step_level_change = pd.concat([step_level_waist, step_level_HDL, step_level_LDL, step_level_TG, step_level_BUN], axis=1)
step_level_change

,Waist_1,Waist_2,Waist_AR,HDL_1,HDL_2,HDL_AR,LDL_1,LDL_2,LDL_AR,TG_1,TG_2,TG_AR,BUN_1,BUN_2,BUN_AR
Step_level,,,,,,,,,,,,,,,
5000이상 10000미만,78.742857,79.085714,0.44,59.142857,60.428571,2.17,104.500000,104.642857,0.14,93.785714,84.714286,-9.67,13.664286,13.392857,-1.99
10000이상 15000미만,81.078261,80.808696,-0.33,64.217391,63.347826,-1.35,111.565217,108.391304,-2.84,114.043478,95.391304,-16.36,13.108696,13.213043,0.80
15000이상 20000미만,80.762500,79.100000,-2.06,60.500000,58.125000,-3.93,115.125000,106.625000,-7.38,115.000000,102.500000,-10.87,14.400000,15.150000,5.21

In [109]:
#추출 후 새로운 각 평균 감소값 pd 생성
step_label_morning=list(step_level_morning_df.index)

step_level_morning_mean=pd.DataFrame(index=step_label_morning)
step_level_morning_mean

Empty DataFrame
Columns: []
Index: [0이상 1500미만, 1500이상 3000미만, 3000이상 4500미만]

In [110]:
#Waist 허리 둘레
step_level_waist=step_level_morning_df.loc[:,['Waist_1','Waist_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_waist.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_waist['Waist_AR'] = percent
step_level_mean['Waist_AR'] = percent

#HDL
step_level_HDL=step_level_morning_df.loc[:,['HDL_1','HDL_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_HDL.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_HDL['HDL_AR'] = percent
step_level_mean['HDL_AR'] = percent

#LDL
step_level_LDL=step_level_morning_df.loc[:,['LDL_1','LDL_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_LDL.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_LDL['LDL_AR'] = percent
step_level_mean['LDL_AR'] = percent

#TG
step_level_TG=step_level_morning_df.loc[:,['TG_1','TG_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_TG.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_TG['TG_AR'] = percent
step_level_mean['TG_AR'] = percent

#BUN
step_level_BUN=step_level_morning_df.loc[:,['BUN_1','BUN_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_BUN.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_BUN['BUN_AR'] = percent
step_level_mean['BUN_AR'] = percent

In [111]:
#평균 변화 수치
step_level_morning_change = pd.concat([step_level_waist, step_level_HDL, step_level_LDL, step_level_TG, step_level_BUN], axis=1)
step_level_morning_change

,Waist_1,Waist_2,Waist_AR,HDL_1,HDL_2,HDL_AR,LDL_1,LDL_2,LDL_AR,TG_1,TG_2,TG_AR,BUN_1,BUN_2,BUN_AR
Step_level_morning,,,,,,,,,,,,,,,
0이상 1500미만,78.900000,79.066667,0.21,61.833333,61.791667,-0.07,110.791667,109.375000,-1.28,95.041667,87.708333,-7.72,13.479167,13.804167,2.41
1500이상 3000미만,82.955556,82.222222,-0.88,60.055556,59.277778,-1.30,108.166667,104.277778,-3.60,132.222222,107.833333,-18.45,13.527778,13.355556,-1.27
3000이상 4500미만,75.500000,73.666667,-2.43,74.666667,72.666667,-2.68,114.666667,103.000000,-10.17,65.000000,51.333333,-21.03,13.666667,13.633333,-0.24

In [112]:
#추출 후 새로운 각 평균 감소값 pd 생성
step_label_daytime=list(step_level_daytime_df.index)

step_level_daytime_mean=pd.DataFrame(index=step_label_daytime)
step_level_daytime_mean

Empty DataFrame
Columns: []
Index: [2000이상 5000미만, 5000이상 8000미만, 8000이상 11000미만]

In [113]:
#Waist 허리 둘레
step_level_waist=step_level_daytime_df.loc[:,['Waist_1','Waist_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_waist.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_waist['Waist_AR'] = percent
step_level_mean['Waist_AR'] = percent

#HDL
step_level_HDL=step_level_daytime_df.loc[:,['HDL_1','HDL_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_HDL.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_HDL['HDL_AR'] = percent
step_level_mean['HDL_AR'] = percent

#LDL
step_level_LDL=step_level_daytime_df.loc[:,['LDL_1','LDL_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_LDL.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_LDL['LDL_AR'] = percent
step_level_mean['LDL_AR'] = percent

#TG
step_level_TG=step_level_daytime_df.loc[:,['TG_1','TG_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_TG.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_TG['TG_AR'] = percent
step_level_mean['TG_AR'] = percent

#BUN
step_level_BUN=step_level_daytime_df.loc[:,['BUN_1','BUN_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_BUN.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_BUN['BUN_AR'] = percent
step_level_mean['BUN_AR'] = percent

In [114]:
#평균 변화 수치
step_level_daytime_change = pd.concat([step_level_waist, step_level_HDL, step_level_LDL, step_level_TG, step_level_BUN], axis=1)
step_level_daytime_change

,Waist_1,Waist_2,Waist_AR,HDL_1,HDL_2,HDL_AR,LDL_1,LDL_2,LDL_AR,TG_1,TG_2,TG_AR,BUN_1,BUN_2,BUN_AR
Step_level_daytime,,,,,,,,,,,,,,,
2000이상 5000미만,81.862500,81.175000,-0.84,59.875000,61.187500,2.19,104.437500,105.187500,0.72,100.562500,84.4375,-16.03,12.306250,12.556250,2.03
5000이상 8000미만,79.395000,79.000000,-0.50,61.200000,60.450000,-1.23,112.050000,107.000000,-4.51,121.650000,106.0000,-12.86,14.020000,13.865000,-1.11
8000이상 11000미만,79.511111,79.977778,0.59,67.444444,64.444444,-4.45,115.333333,109.777778,-4.82,90.444444,81.0000,-10.44,14.522222,14.933333,2.83

In [115]:
#추출 후 새로운 각 평균 감소값 pd 생성
step_label_evening=list(step_level_evening_df.index)

step_level_evening_mean=pd.DataFrame(index=step_label_evening)
step_level_evening_mean

Empty DataFrame
Columns: []
Index: [1000이상 3000미만, 3000이상 5000미만, 5000이상 7000미만]

In [116]:
#Waist 허리 둘레
step_level_waist=step_level_evening_df.loc[:,['Waist_1','Waist_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_waist.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_waist['Waist_AR'] = percent
step_level_mean['Waist_AR'] = percent

#HDL
step_level_HDL=step_level_evening_df.loc[:,['HDL_1','HDL_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_HDL.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_HDL['HDL_AR'] = percent
step_level_mean['HDL_AR'] = percent

#LDL
step_level_LDL=step_level_evening_df.loc[:,['LDL_1','LDL_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_LDL.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_LDL['LDL_AR'] = percent
step_level_mean['LDL_AR'] = percent

#TG
step_level_TG=step_level_evening_df.loc[:,['TG_1','TG_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_TG.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_TG['TG_AR'] = percent
step_level_mean['TG_AR'] = percent

#BUN
step_level_BUN=step_level_evening_df.loc[:,['BUN_1','BUN_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_BUN.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_BUN['BUN_AR'] = percent
step_level_mean['BUN_AR'] = percent

In [117]:
#평균 변화 수치
step_level_evening_change = pd.concat([step_level_waist, step_level_HDL, step_level_LDL, step_level_TG, step_level_BUN], axis=1)
step_level_evening_change

,Waist_1,Waist_2,Waist_AR,HDL_1,HDL_2,HDL_AR,LDL_1,LDL_2,LDL_AR,TG_1,TG_2,TG_AR,BUN_1,BUN_2,BUN_AR
Step_level_evening,,,,,,,,,,,,,,,
1000이상 3000미만,79.025,79.575,0.70,61.937500,63.062500,1.82,112.312500,109.437500,-2.56,78.75,86.562500,9.92,13.762500,12.918750,-6.13
3000이상 5000미만,81.750,81.225,-0.64,63.458333,62.083333,-2.17,108.416667,106.208333,-2.04,125.25,95.458333,-23.79,13.345833,14.333333,7.40
5000이상 7000미만,77.380,75.200,-2.82,55.000000,53.800000,-2.18,110.200000,102.200000,-7.26,118.00,104.800000,-11.19,13.500000,12.380000,-8.30

In [118]:
#추출 후 새로운 각 평균 감소값 pd 생성
step_label_night=list(step_level_night_df.index)

step_level_night_mean=pd.DataFrame(index=step_label_night)
step_level_night_mean

Empty DataFrame
Columns: []
Index: [0이상 400미만, 400이상 800미만, 800이상 1200미만]

In [119]:
#Waist 허리 둘레
step_level_waist=step_level_night_df.loc[:,['Waist_1','Waist_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_waist.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_waist['Waist_AR'] = percent
step_level_mean['Waist_AR'] = percent

#HDL
step_level_HDL=step_level_night_df.loc[:,['HDL_1','HDL_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_HDL.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_HDL['HDL_AR'] = percent
step_level_mean['HDL_AR'] = percent

#LDL
step_level_LDL=step_level_night_df.loc[:,['LDL_1','LDL_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_LDL.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_LDL['LDL_AR'] = percent
step_level_mean['LDL_AR'] = percent

#TG
step_level_TG=step_level_night_df.loc[:,['TG_1','TG_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_TG.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_TG['TG_AR'] = percent
step_level_mean['TG_AR'] = percent

#BUN
step_level_BUN=step_level_night_df.loc[:,['BUN_1','BUN_2']]

# 퍼센트 비율 감소 = (증가량 또는 감소량 / 시작 값) × 100
# 증가량 또는 감소량 = |나중 값 – 시작 값|
percent=[]
for index, row in step_level_BUN.iterrows():
    per= round(((row[1]-row[0])/row[0]) * 100, 2)
    percent.append(per)
    
step_level_BUN['BUN_AR'] = percent
step_level_mean['BUN_AR'] = percent

In [120]:
#평균 변화 수치
step_level_night_change = pd.concat([step_level_waist, step_level_HDL, step_level_LDL, step_level_TG, step_level_BUN], axis=1)
step_level_night_change

,Waist_1,Waist_2,Waist_AR,HDL_1,HDL_2,HDL_AR,LDL_1,LDL_2,LDL_AR,TG_1,TG_2,TG_AR,BUN_1,BUN_2,BUN_AR
Step_level_night,,,,,,,,,,,,,,,
0이상 400미만,78.971429,78.974286,0.00,62.257143,61.371429,-1.42,108.342857,105.285714,-2.82,94.971429,83.428571,-12.15,13.205714,13.262857,0.43
400이상 800미만,84.975000,83.250000,-2.03,61.375000,62.000000,1.02,115.125000,110.750000,-3.80,162.625000,129.125000,-20.60,14.400000,15.375000,6.77
800이상 1200미만,84.750000,84.250000,-0.59,59.500000,62.000000,4.20,118.500000,120.000000,1.27,115.500000,123.500000,6.93,15.300000,12.700000,-16.99

# 집단 나눠서 총 걸음수 대비 혈중 지질 농도 파악

In [122]:
walk_pd

,Sample_ID,HDL,TG,LDL,Bun,Waist,TOTAL_STEP,MORNING_STEP,DAYTIME_STEP,EVENING_STEP,NIGHT_STEP
0,S0001,16.0,-6.0,1.0,-1.0,3.0,9946.0,2109.0,4328.0,2669.0,676.0
1,S0002,-1.0,-5.0,0.0,3.0,-5.0,11143.0,1768.0,5110.0,3615.0,437.0
2,S0003,0.0,-48.0,-27.0,6.0,-2.0,16858.0,1007.0,9263.0,6006.0,317.0
3,S0008,-8.0,-80.0,-53.0,-1.0,-4.0,12634.0,1650.0,6915.0,3658.0,195.0
4,S0009,1.0,-127.0,12.0,1.0,4.0,9592.0,728.0,5193.0,3141.0,372.0
5,S0011,-9.0,28.0,-17.0,-2.0,5.0,8632.0,668.0,5000.0,2767.0,68.0
6,S0014,-5.0,-9.0,-19.0,-3.0,1.0,16571.0,3367.0,10545.0,2321.0,65.0
7,S0016,9.0,55.0,13.0,1.0,9.0,8969.0,656.0,5450.0,2474.0,226.0
8,S0019,4.0,-3.0,-7.0,0.0,6.0,13327.0,778.0,8192.0,4118.0,41.0
9,S0020,-2.0,-1.0,-11.0,4.0,-4.0,8252.0,900.0,4924.0,2253.0,31.0
10,S0021,-1.0,-38.0,-7.0,7.0,-1.0,17028.0,1900.0,10210.0,4522.0,104.0
11,S0022,2.0,-12.0,-1.0,6.0,-4.0,15755.0,2561.0,7516.0,4991.0,442.0
12,MetS_S0002,-4.0,-37.0,17.0,2.0,-2.0,9495.0,1354.0,4472.0,3273.0,239.0
13,MetS_S0004,-4.0,16.0,-39.0,2.0,0.0,10553.0,1311.0,7220.0,1510.0,315.0
14,MetS_S0005,8.0,21.0,10.0,-1.0,2.0,10603.0,788.0,5872.0,2857.0,880.0
15,MetS_S0012,-9.0,21.0,0.0,-2.0,3.0,11659.0,2287.0,7049.0,2096.0,32.0
16,MetS_S0016,4.0,6.0,-12.0,3.0,2.0,11132.0,1759.0,4645.0,4306.0,220.0
17,MetS_S0019,3.0,47.0,17.0,-2.0,5.0,10738.0,1451.0,4666.0,4274.0,180.0
18,MetS_S0020,3.0,-110.0,-11.0,-1.0,-2.0,10328.0,1681.0,4647.0,3725.0,111.0
19,MetS_S0021,3.0,-63.0,17.0,2.0,-2.0,10236.0,1394.0,4556.0,3955.0,160.0
20,MetS_S0026,0.0,-31.0,-2.0,5.0,-6.0,13650.0,1020.0,7284.0,4959.0,160.0
21,MetS_S0028,-3.0,-4.0,-12.0,1.0,-3.0,13579.0,1406.0,8303.0,3161.0,477.0
22,MetS_S0032,-3.0,-5.0,-7.0,-5.0,-3.0,16079.0,2703.0,5837.0,6096.0,1158.0
23,MetS_S0034,-4.0,-12.0,26.0,-3.0,5.0,14862.0,1265.0,8421.0,4822.0,115.0
24,MetS_S0037,-5.0,12.0,-3.0,-2.0,0.0,12328.0,1755.0,5548.0,4418.0,372.0
25,MetS_S0041,1.0,6.0,4.0,-1.0,-4.0,13353.0,2156.0,5465.0,5125.0,386.0
26,MetS_S0048,4.0,-10.0,12.0,-3.0,4.0,8618.0,2404.0,3601.0,2280.0,217.0
27,MetS_S0050,2.0,-4.0,-10.0,0.0,0.0,8542.0,709.0,4530.0,2693.0,442.0
28,MetS_S0051,-10.0,1.0,-1.0,3.0,-1.0,17693.0,3502.0,10450.0,3258.0,178.0
29,MetS_S0053,9.0,-33.0,-15.0,1.0,-5.0,12450.0,3240.0,7504.0,1385.0,71.0
30,MetS_S0058,-4.0,-14.0,-15.0,-1.0,-4.0,8771.0,676.0,4089.0,3214.0,640.0
31,MetS_S0061,-2.0,-30.0,-18.0,-1.0,-1.0,9294.0,77.0,2574.0,6132.0,353.0
32,MetS_S0064,-4.0,-56.0,8.0,2.0,0.0,11828.0,1677.0,4798.0,4772.0,423.0
33,MetS_S0066,-2.0,11.0,8.0,-5.0,-1.0,15256.0,2357.0,6530.0,6027.0,86.0
34,MetS_S0074,-3.0,-10.0,-6.0,2.0,-1.0,10615.0,2162.0,4196.0,3971.0,86.0
35,MetS_S0077,-3.0,-167.0,-6.0,-1.0,1.0,11311.0,1641.0,5350.0,3689.0,445.0
36,MetS_S0079,5.0,10.0,6.0,-1.0,-5.0,7552.0,1133.0,3899.0,2359.0,63.0
37,MetS_S0084,-8.0,28.0,11.0,-4.0,1.0,13616.0,1693.0,9903.0,1514.0,252.0
38,MetS_S0087,0.0,0.0,-14.0,-2.0,-2.0,15533.0,1428.0,9321.0,4329.0,182.0
39,MetS_S0088,2.0,-11.0,-5.0,-1.0,-1.0,8891.0,715.0,5026.0,2777.0,227.0
40,MetS_S0092,-5.0,31.0,10.0,0.0,2.0,7647.0,885.0,4898.0,1564.0,179.0
41,MetS_S0094,-6.0,-9.0,4.0,2.0,0.0,10073.0,430.0,6168.0,3218.0,101.0
42,MetS_S0095,0.0,21.0,4.0,-1.0,3.0,11418.0,1198.0,5628.0,4354.0,67.0
43,MetS_S0098,5.0,-11.0,7.0,-1.0,-4.0,5459.0,528.0,3489.0,1223.0,124.0
44,MetS_S0100,3.0,-24.0,-8.0,1.0,-1.0,12381.0,1648.0,7157.0,3257.0,109.0

In [123]:
group=[] 
for index, row in walk_pd.iterrows():
    time_step=[row[7],row[8],row[9],row[10]] #morning, daytime, evening, night
    index=time_step.index(max(time_step))
    if index==0:
        group.append('morning')
    elif index==1:
        group.append('daytime')
    elif index==2:
        group.append('evening')
    elif index==3:
        group.append('night')
        
group

['daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'evening',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'evening',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime',
 'daytime']

In [124]:
len(group)

45